<div class="main-content">
    <div class="inner">
	<div class="manage-apply">
	<div class="apply-content">
	<div class="manage-menu">
    <form id="account-form" method="post" action="#" onsubmit='return false;'>
	<input name="oid" value="<{$vo.id}>" type="hidden" />
	<input name="office" value="<{$vo.name}>" type="hidden" />
	<input type="hidden" name='a' value='add_office'/>
        <div class="account-info">
			<div class="list-accounts">
				<div class="basis-list">
					<h4 style='margin-top:0px'>用户添加:</h4><a name="set"></a>
					<div class="form-group" style="visibility:hidden;">
						<div class="col-sm-4 input-field-name">
						<label class="control-label">用户类别:</label>
						</div>
						<div class="col-sm-8">
							<select name="num[groupnum]" onchange="group_select(this)" class="form-control input-large" style="height:36px">
								<option value="4" selected>注会师</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 input-field-name">
						<label class="control-label">所属会计事务所:</label>
						</div>
						<div class="col-sm-8">
							<input class="form-control input-large" value="<{$vo.name}>" type="text">
						</div>
					</div>
					<div class="form-group act_rename">
						<div class="col-sm-4 input-field-name">
						<label class="control-label">注会师名字:</label>
						</div>
						<div class="col-sm-8">
							<input name="str[rename]" class="form-control input-large" value="" type="text">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 input-field-name">
						<label class="control-label">登录名:</label>
						</div>
						<div class="col-sm-8">
							<input name="str[name]" class="form-control input-large" value="" type="text">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 input-field-name">
						<label class="control-label">登录密码:</label>
						</div>
						<div class="col-sm-8">
							<input name="pass" class="form-control input-large" value="" type="password">
						</div>
					</div>
					<div class="opt" style='padding-left:175px;'>
						<input type="reset" class="btn btn-large cc_btn" onclick='javascript:history.go(-1)' value="返回" />&nbsp;&nbsp;
						<input type="submit" class="btn btn-large btn-success" onclick='formSubmit(event)' value="确认" />
					</div>
				</div>
			</div>
		</div>
    </form>
	</div>
	</div>
	</div>
	</div>
</div>
<style type="text/css">
	.cc_btn{background-color:#777;color:#fff}
	.input-large{width:250px}
	.input-field-name{text-align:right;height:30px;line-height:30px;}
</style>
<script type="text/javascript">
    set_title_name('账户管理');
    set_menu_cur('menu_12','cur super');
	function formSubmit(event){
		if($("input[name='str[name]']").val()==''){
			note_info('请填写登录名','warn',event);return;
		}
		if($("input[name='pass']").val()==''){
			note_info('请填写密码','warn',event);return;
		}
		$.ajax({
			url:"/home/suser/index.php",
			data:$('#account-form').serializeArray(),
			type:"post",
			dataType:'json',
			async:false,
			success:function(res) {
				if(res){
					if(res=='have'){
						alert('该事务所已存在');
						return;
					}
					note_info('保存成功！','success',event);
					setTimeout("window.history.go(-1)",300);
				}else{
					note_info('保存失败！','warn',event);
				}
			}
		});
	}
	function group_select(obj){
		$(".act_rename").hide();
		var v=$(obj).val();
		if(v==3){
			$(".act_rename").show();
			$(".act_rename label").html("事务所名称");
		}
		if(v==4){
			$(".act_rename").show();
			$(".act_rename label").html("注会师名字");
		}
	}
</script>