<link rel="stylesheet" type="text/css" href="css/mall.css" />
<style type="text/css">
	.mall-set{font-family:"Microsoft YaHei","黑体","宋体";}
</style>
<div class=" main-content">
	<div class="inner">
		<div class="mall-manage">
			<div class="mall-set">
				<div class="mall-set-title">
					<ul>
						<li><a href="slide.php">首页幻灯片</a></li>
						<li><a href="cate.php">商品分类</a></li>
						<li><a href="index.php">商品列表</a></li>
						<li class="select"><a href="order.php">订单列表</a></li>
					</ul>
				</div>
				<div class="comm-list" style="min-height:600px">
					<div class="comm-top">
						<div class="title-left">
							<h4><{$cateName}>列表</h4>
						</div>
						<div class="title-right" style="top:8px;">
							<form method="get" action="">
								<input name="date" class="textarea" placeholder="下单日期，如2015-08-28" type="text" value="<{$smarty.get.date}>" style="width:200px;" />
								<input name="keywords" class="textarea" placeholder="请输入订单号" type="text" value="<{$smarty.get.keywords}>" style="width:110px;" />
								<input value="搜索" class="btn btn-large btn-success" title="搜索" type="submit" style="margin-top:-7px;padding:3px 10px;" />
							</form>
						</div>
					</div>
					<div class="list-table">
						<div class="wrapper">
							<table style="table-layout:auto;" class="stable">
								<thead>
									<tr>
										<th class="enable">订单号</th>
										<th class="enable">订单金额</th>
										<th class="enable">收货人</th>
										<th class="enable">下单时间</th>
										<th class="enable">物流（公司，运单号）</th>
										<th name="Status" class="enable">支付</th>
										<th name="Status" class="enable">状态</th>
										<th style="width:150px;" class="enable">操作</th>
										<th class="enable" style="width:200px;">导出订单</th>
									</tr>
								</thead>
								<tbody>
									<!------------列表开始------------>
									<{foreach from=$list item="v"}>
									<tr>
										<td><div><{$v.id}></div></td>
										<td><div><{$v.money}><{if $v.is_lb==1}>(大礼包)<{/if}></div></td>
										<td><div><{$v.name}></div></td>
										<td><div><{$v.addtime}></div></td>
										<td><div><{$v.wuliu}></div></td>
										<td><div><{if $v.is_pay==1}>已付款<{else}>未付款<{/if}></div></td>
										<td><div><{if $v.status==0}>未处理<{elseif $v.status==1}>已派送<{elseif $v.status==2}>已签收<{else}>无效<{/if}></div></td>
										<td><div>
											<a href="order.php?a=detail&id=<{$v.id}>" class="minutebtn">详情</a>
											<a href="javascript:void(0);" onclick="delRow(event,<{$v.id}>)" class="minutebtn">删除</a>
										</div></td>
										<td><div><a href="exceldemo.php?oid=<{$v.id}>" class="minutebtn">导出到excel</a></div></td>
									</tr>
									<{/foreach}>
									<!------------列表结束------------>
								</tbody>
							</table>
						</div>
					</div>
					<{if $page}><div class="page-list" style="margin-top:15px;float: right;margin-right:20px;"><{$page}></div><{/if}>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function delRow(event,id){
	if(confirm("确定要删除此订单吗?")){
		$.ajax({
			url:"order.php",
			data:{id:id,a:'del'},
			type:"post",
			dataType:'json',
			async:false,
			success:function(res) {
				if(res){
					note_info('删除成功','success',event);
					setTimeout("window.location.reload()",300);
				}
			}
		});
	}
}
//上下架
function upDownGoods(event,id,state){
	if(confirm("确定要执行此操作吗?")){
		$.ajax({
			url:"index.php",
			data:{id:id,state:state,a:'upDown'},
			type:"post",
			dataType:'json',
			async:false,
			success:function(res) {
				if(res){
					note_info('操作成功','success',event);
					setTimeout("window.location.reload()",300);
				}
			}
		});
	}
}
</script>