<link rel="stylesheet" type="text/css" href="css/mall.css" />
<style type="text/css">
	.mall-set{font-family:"Microsoft YaHei","黑体","宋体";}
</style>
<div class=" main-content">
<div class="inner">
<div class="mall-manage">
<div class="mall-set">
	<div class="mall-set-title">
		<ul>
			<li class="select"><a href="slide.php">首页幻灯片</a></li>
			<li><a href="cate.php">商品分类</a></li>
			<li><a href="index.php">商品列表</a></li>
			<li><a href="order.php">订单列表</a></li>
		</ul>
	</div>
	<div class="comm-list" style="min-height:600px">
		<div class="comm-top">
			<div class="title-left">
				<h4><{$cateName}>列表</h4>
			</div>
			<div class="title-right" style="top:8px;">
				<a href='<{if $smarty.session.suser.type==5}>javascript:alert("您无此操作权限");<{else}>slide.php?a=add<{/if}>'>
					<input value="添加<{$cateName}>" class="btn btn-large btn-success" type="button" style="padding:3px 10px;" />
				</a>
			</div>
		</div>
		<div class="list-table">
			<div class="wrapper">
				<table style="table-layout:auto;" class="stable">
					<thead>
						<tr>
							<th class="enable">序号</th>
							<th class="enable">图片</th>
							<th name="Operate" class="enable">操作</th>
						</tr>
					</thead>
					<tbody>
						<{foreach from=$list item="v"}>
						<tr>
							<td><div><{$v.ordernum}></div></td>
							<td><div><img src="../../../data/image_c/<{$v.pic}>" style="width:96px;height:51px;" /></div></td>
							<td>
								<div class="btn-operate">
								<a href='<{if $smarty.session.suser.type==5}>javascript:alert("您无此操作权限");<{else}>slide.php?a=add&id=<{$v.id}><{/if}>' title="修改"><i class="glyphicon glyphicon-edit"></i></a>
								<a href="#" onclick="delRow(event,'<{$v.id}>')" title="删除"><i class="glyphicon glyphicon-trash"></i></a>
								</div>
							</td>
						</tr>
						<{/foreach}>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
function delRow(event,id){
	//云淘账号无操作权限
	if('<{$smarty.session.suser.type}>'=='5'){
		alert('您无此操作权限');return;
	}
	if(confirm("确定要删除吗?")){
		$.ajax({
			url:"slide.php",
			data:{id:id,a:'del'},
			type:"post",
			dataType:'json',
			async:false,
			success:function(res) {
				if(res){
					note_info('删除成功','success',event);
					setTimeout("window.location.reload()",300);
				}
			}
		});
	}
}
</script>