<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>申请代理</title>
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="font/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<script src="js/jquery.min.js"></script>
</head>
<style type="text/css">
.register_end{height:35px;line-height:35px;font-size:16px;width:90%;}
select,input{color:#555;}
.job_info .info_list p{float:none;color:#666;font-weight:normal;}
.input_group input{text-indent:4em;}
<{if $vo.sh_status==1}>input,select,textarea{background-color:#eee;}<{/if}>
</style>
<body style="background-color:#eeeeee;">
<div class="main">
	<div class="job_detail">
		<div class="item_list" style="padding:15px 0 10px 0;">
			<div class="list_title">
				<div class="job_title" style="font-size:16px;margin-top:-5px;">资料填报
				</div>
			</div>
			<div class="clear" ></div>
		</div>
	</div>
	<div style="background-color:#f6f6f6;">
	<form id="meminfo" onsubmit="return false;">
	<input type="hidden" name="num[id]" value="<{$vo.id}>"/>
	<div class="tabs_info">
		<div class="input_group">
			<input type="text" name="str[name]" value="" />
			<div class="title">姓名：</div>
		</div>
		<div class="input_group" style="margin-top:10px;">
			<span style="font-size:15px;">性别：</span>
			<input type="radio" name="num[sex]" value="1" <{if $vo.sex==1 || $vo.sex==''}>checked<{/if}> id="check1" /><label for="check1">男</label>
			&nbsp;
			<input type="radio" name="num[sex]" value="2" <{if $vo.sex==2}>checked<{/if}> id="check2" /><label for="check2">女</label>
		</div>
		<div class="input_group">
			<input type="text" name="str[tel]" value="" />
			<div class="title">手机：</div>
		</div>
		<div class="input_group">
			<input type="text" name="num[age]" value="<{$vo.age}>" placeholder='请输入整数' />
			<div class="title">年龄：</div>
		</div>
		<div class="input_group">
			<input type="text" name="str[card_num]" value="" style="text-indent:6em;" />
			<div class="title">身份证号：</div>
		</div>
		<div class="input_group">
			<input type="text" name="str[school]" value="<{$vo.school}>" />
			<div class="title">学校：</div>
		</div>
		<div class="input_group">
			<input type="text" name="str[clas]" value="<{$vo.clas}>" />
			<div class="title">年级：</div>
		</div>
		<div class="input_group">
			<input type="text" name="str[major]" value="<{$vo.major}>" />
			<div class="title">专业：</div>
		</div>
		<div class="input_group">
			<textarea name="str[goodness]" id="goodness" style="text-indent:6em;"><{$vo.goodness}></textarea>
			<div class="title" style="top:21px;">优势自述：</div>
		</div>
	</div>
	</form>
	<div style="height:10px;"></div>
	<a href="javascript:void(0);"><div class="register_end" style="width:96%;" onclick="save()">提交保存</div></a>
	</div>
</div>
<{include file="footer.html"}>
<script type="text/javascript">
function save(){
	if($('input[name="str[name]"]').val()==''){
		alert("请填写姓名");return;
	}
	if(!isMobil($('input[name="str[tel]"]').val())){
		alert("请填写正确格式的手机号");return;
	}
	$('#loading').show();
	$.post('index.php?m=agent&a=add',$('#meminfo').serialize(),function(res){
		$('#loading').hide();
		res=$.trim(res);
		if(res=='suc'){
			alert('您的资料已提报，如果符合我们的代理要求，我们工作人员会与您电话联系。');
			window.history.go(-1);
		}else{
			alert('保存失败');
		}
	});
}
//验证为正整数
function isNumber(s){  
	var patrn=/^[1-9][0-9]*$/;  
	if (!patrn.exec(s)) return false
	return true
}
//验证手机号
function isMobil(s){  
	var patrn=/^1[0-9]{10}$/;  
	if (!patrn.exec(s)) return false
	return true
}
</script>
</body>
</html>