<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>收货地址</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="css/common1.css" />
	<link rel="stylesheet" type="text/css" href="font/css/font-awesome.min.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
<div class="clearfix"></div>
<section class="Main delivery" style="height:100%;">
    <div class='deliveryMain'>
        <div class='tips'>请填写您的收货地址</div>
        <form onsubmit="return false;" id="memberform">
        <div class='deliveryForm'>
               <table>
                   <caption></caption>
                   <tr>
                       <td class='title'>姓名：</td>
                       <td><input name='str[name]' class='deliveryFormInput' value="<{$userRow.nickname}>" /></td>
                   </tr>
                   <tr>
                       <td class='title'>电话：</td>
                       <td><input name='str[tel]' class='deliveryFormInput' value="<{$userRow.username}>" /></td>
                   </tr>
                   <tr>
                       <td class='title'>地址：</td>
                       <td><input name='str[address]' class='deliveryFormInput' value="<{$userRow.pname}><{$userRow.cname}><{$userRow.dname}><{$userRow.address}>" /></td>
                   </tr>
                   <tr>
                    <td class='title'>运费：</td>
                    <td style="font-size:0.9em;color:#737373;">
						<label><input type="radio" name="num[pay_type]" value="1" checked />余额支付</label>&nbsp;&nbsp;
						<label><input type="radio" name="num[pay_type]" value="2" />微信支付</label>
					</td>
                   </tr>
                   <tr>
                       <td class='title'>优惠码：</td>
                       <td><input name='code' id="code" class='deliveryFormInput' value="" /></td>
                   </tr>
                   <tr>
                       <td class='title'>备注：</td>
                       <td><input name='str[content]' class='deliveryFormInput' /></td>
                   </tr>
               </table>
        </div>
        <div class='submitForm'>
            <button type="button" class='submitBtn' onclick="save(this);return false;" subFromFlag="0">支付订单</button>
        </div>
        </form>
    </div>
</section>
<div class="clearfix"></div>
<{include file="footer.html"}>
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
function save(obj){
	//防止表单重复提交
	var subFromFlag=$(obj).attr("subFromFlag");
	if(subFromFlag=='0'){
		if($("input[name='str[name]']").val()==''){
			alert('姓名不能为空');
			return;
		}
		if($("input[name='str[tel]']").val()==''){
			alert('电话不能为空');
			return;
		}
		if($("input[name='str[adress]']").val()==''){
			alert('地址不能为空');
			return;
		}
		if($("#code").val()==''){
			alert('优惠码不能为空');
			return;
		}
		$(obj).attr("subFromFlag",'1');
		$('#loading').show();
		$.ajax({
			url:"index.php?m=order&a=add_lb",
			data:$('#memberform').serializeArray(),
			type:"post",
			dataType:'json',
			async :false,
			success:function(res){
				$('#loading').hide();
				$(obj).attr("subFromFlag",'0');
				if(res=='code_err'){
					alert('您的优惠码不存在或已使用');
				}else if(res=='man'){
					alert('今日礼包已抢购完毕，请明日来抢！');
					window.location.href="index.php?m=goods&a=index";
				}else if(res=='yebz'){
					if(confirm('余额不足，去充值？')){
						window.location.href="index.php?m=user&a=jk";
					}
				}else if(res=='yezf'){
					alert('支付成功，当天16点前的订单当天发货');
					window.location.href="index.php?m=personal&a=orderhistory";
				}else if(res){
					window.location.href="./shoppay/js_api_call.php?oid="+res;
				}else{
					alert('下单失败');
				}
			}
		});
	}
}
</script>
</body>
</html>