<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>职位详情</title>
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="stylesheet" type="text/css" href="font/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<script src="js/jquery.min.js"></script>
</head>
<style type="text/css">
.register_end{height:35px;line-height:35px;font-size:16px;width:90%;}
select,input{color:#555;}
.job_info .info_list p{float:none;color:#666;font-weight:normal;}
.job_info .info_list span{display:inline;float:none;}
</style>
<body style="background-color:#eeeeee;">
<div class="main">  
	<div class="job_detail">
		<div class="item_list" style="padding:15px 0 10px 0;">
			<div class="list_title">
				<div class="job_title"><{$vo.title}></div>
			</div>
			<div class="clear" style="height:5px;"></div>
		</div>
	</div>
	<div class="job_info">
		<div class="info_list" style="color:#666;"><{$vo.content}></div>
	</div>
	<a href="javascript:void(0);"><div class="register_end" style="width:40%;height:55px;line-height: 55px;font-size:20px;font-weight:bold;" onclick="lq_fun()">任务领取</div></a>
</div>
<{include file="footer.html"}>
<script type="text/javascript">
	function lq_fun(){
		$('#loading').show();
		$.get('index.php?m=job&a=lq&jid=<{$vo.id}>',function(res){
			$('#loading').hide();
			res=$.trim(res);
			if(res=='suc'){
				alert('“任务兼职密函”已发送至您的微信，请注意及时查收！');
				window.location.href="index.php?m=job&a=detail&id=<{$vo.id}>";
			}else{
				alert_tip('领取失败');
			}
		})
	}
</script>
</body>
</html>