<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>电话提报</title>
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="stylesheet" type="text/css" href="font/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<script src="js/jquery.min.js"></script>
</head>
<style type="text/css">
.register_end{height:35px;line-height:35px;font-size:16px;width:90%;}
select,input{color:#555;}
.job_info .info_list p{float:none;color:#666;font-weight:normal;}
</style>
<body style="background-color:#eeeeee;">
<div class="main">
	<!-- <div class="job_detail">
		<div class="item_list" style="padding:15px 0 10px 0;">
			<div class="list_title">
				<div class="job_title" style="font-size:16px;margin-top:-5px;">每日电话提报</div>
			</div>
			<div class="clear" style="height:5px;"></div>
		</div>
	</div> -->
	<div style="background-color:#f6f6f6;">
	<form id="meminfo" onsubmit="return false;">
	<input type="hidden" name="num[tid]" value="<{$smarty.get.tid}>" />
	<div style="margin-left:5px;height:40px;line-height:40px;margin-bottom:-20px;font-size:18px;font-weight:bold;color:#ff7101;">电话提报:</div>
	<div class="tabs_info">
		<div class="input_group">
			<input style="text-indent:4em;" type="text" name="str[phone]" value="" placeholder="请输入电话" />
			<div class="title">电话：</div>
		</div>
		<div class="input_group">
			<input style="text-indent:4em;" type="text" name="str[name]" value="" placeholder="请输入姓名" />
			<div class="title">姓名：</div>
		</div>
		<div class="input_group" style="margin-top:10px;">
			<span style="font-size:15px;">性别：</span>
			<input type="radio" name="num[sex]" value="1" checked id="check1" /><label for="check1">男</label>
			&nbsp;
			<input type="radio" name="num[sex]" value="2" id="check2" /><label for="check2">女</label>
		</div>
		<div class="input_group" style="margin-top:10px;">
			<span style="font-size:15px;">级别：</span>
			<input type="radio" name="num[is_important]" value="1" id="check11" /><label for="check11">重要</label>
			&nbsp;
			<input type="radio" name="num[is_important]" value="2" checked id="check22" /><label for="check22">普通</label>
		</div>
	</div>
	</form>
	<div style="height:10px;"></div>
	<a href="javascript:void(0);"><div class="register_end" style="width:96%;" onclick="save()">提交保存</div></a>
	</div>
</div>
<{include file="footer.html"}>
<script type="text/javascript">
function save(){
	if(!isMobil($('input[name="str[phone]"]').val())){
		alert("请填写正确的手机号");return;
	}
	if($('input[name="str[name]"]').val()==''){
		alert("请填写姓名");return;
	}
	$('#loading').show();
	$.post('index.php?m=phone&a=add',$('#meminfo').serialize(),function(res){
		$('#loading').hide();
		res=$.trim(res);
		if(res=='suc'){
			alert('提交成功');
			window.history.go(-1);
		}else{
			alert('提交失败');
		}
	});
}

//验证手机号
function isMobil(s){  
	var patrn=/^1[0-9]{10}$/;  
	if (!patrn.exec(s)) return false
	return true
}
</script>
</body>
</html>