<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><{if $smarty.get.type==2}>企业用户注册<{else}>个人用户注册<{/if}></title>
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<script src="js/jquery.min.js"></script>
<style type="text/css">
#phone{width:50%;float:left;}
.tabs_info .get_num{letter-spacing:0;font-size:16px;}
.tabs_info .code_gray{background-color:#aaa;border:1px solid #bbb;}
.tabs_info .upload_pic1,.tabs_info .upload_pic2{width:150px;margin:15px auto 0px;height:105px;}
</style>
</head>
<body>
<div class="main">
	<div class="banner"><img src="images/<{if $smarty.get.type==2}>banner_01.jpg<{else}>banner_1.jpg<{/if}>"/></div>
	<form action="" id="memInfo">
	<input type="hidden" name="a" value="doregister" />
	<input type="hidden" name="fromuser" value="<{$fromuser}>" />
	<div class="tabs_info">
		<div>
			<input type="text" name="username" placeholder="请输入您的手机号码" id="phone"/>
			<div class="get_num" onclick="get_mobile_code()" data-getStatus='0' style="width:40%;">获取验证码</div>
			<div class="clear"></div>
		</div>
		<input type="text" name="code" placeholder="请输入验证码"/>
		<{if $smarty.get.type==2}>
			<input type="hidden" name="type" value="2" />
			<input type="text" name="nickname" placeholder="请输入公司名称"/>
			<input type="text" name="contact_name" placeholder="请输入联系人姓名"/>
			<input type="text" name="contact_post" placeholder="请输入联系人职位"/>
		<{/if}>
		<input type="password" name="pass" placeholder="密码(6-15位字母数字组合)"/>
		<input type="password" name="repass" placeholder="请再次输入密码"/>
		
		<{if $smarty.get.type==2}>
		<input type="hidden" id='bank_card' name='bank_card' value='' />
		<div class="input_group" onclick="up_pic1()">
			<img class="upload_pic1" src="<{if $vo.bank_card}>/data/image_c/<{$vo.pic}><{else}>images/upload_yyzz.jpg<{/if}>" />
		</div>
		<input type="hidden" id='pic' name='pic' value='' />
		<div class="input_group" onclick="up_pic2()">
			<img class="upload_pic2" src="<{if $vo.pic}>/data/image_c/<{$vo.pic}><{else}>images/upload_sfz.jpg<{/if}>" />
		</div>
		<{/if}>
		
		<div class="register_end" onclick="save()">完成注册</div>
	</div>
	</form>
</div>
<!-- 上传照片 -->
<div id="loading" style="position:fixed;z-index:29999;display:none;width:100%;height:100px;top:0;background:#fff url(images/loading.gif) no-repeat center center;background-size:40px 40px;opacity:0.8;"></div>
<div style="visibility:hidden;">
	<iframe name='img-frame1' id="img-frame1" style="visibility:hidden;height:10px"></iframe>
	<form id="img-form1" action="upload_img.php" enctype="multipart/form-data" method="post" target="img-frame1">
		<input type="file" name="imgfile" value="" id="img-file1" onchange="changeValImg1()"/>
	</form>
</div>
<div style="visibility:hidden;">
	<iframe name='img-frame2' id="img-frame2" style="visibility:hidden;height:10px"></iframe>
	<form id="img-form2" action="upload_img.php" enctype="multipart/form-data" method="post" target="img-frame2">
		<input type="file" name="imgfile" value="" id="img-file2" onchange="changeValImg2()"/>
	</form>
</div>
<script type="text/javascript">
$(function(){
	var bodyHeight = document.documentElement.clientHeight;
	$('#loading').css({height:bodyHeight+'px'});
})
function up_pic1(){
	$('#img-file1').click();
	$('#img-frame1').load(function(){
        try{var html = $(this).contents().find('body').html();
    	}catch(e){ var html = window.frames["img-frame1"].document.body.innerText;}
    	try{
			var result = $.parseJSON(html);
			if(result.success==1){
				setTimeout(function(){
					$('#loading').hide();
				},1000)
				$(".upload_pic1").attr('src',"/data/image_c/"+result.data.path);
				$("#bank_card").val(result.data.path);
			}else{
				setTimeout(function(){
					$('#loading').hide();
				},1500)
				alert("照片太大或其他错误");
			}
    	}catch(e){}
    });
}
function up_pic2(){
	$('#img-file2').click();
	$('#img-frame2').load(function(){
        try{var html = $(this).contents().find('body').html();
    	}catch(e){ var html = window.frames["img-frame2"].document.body.innerText;}
    	try{
			var result = $.parseJSON(html);
			if(result.success==1){
				setTimeout(function(){
					$('#loading').hide();
				},1000)
				$(".upload_pic2").attr('src',"/data/image_c/"+result.data.path);
				$("#pic").val(result.data.path);
			}else{
				setTimeout(function(){
					$('#loading').hide();
				},1500)
				alert("照片太大或其他错误");
			}
    	}catch(e){}
    });
}
function changeValImg1(){
	$('#loading').show();
	$('#img-form1').submit();
}
function changeValImg2(){
	$('#loading').show();
	$('#img-form2').submit();
}
function save(){
	if($('input[name="username"]').val()==''){
		alert("请填写手机号");return;
	}
	if($('input[name="code"]').val()==''){
		alert("请填写验证码");return;
	}
	<{if $smarty.get.type==2}>
		//企业验证
		if($('input[name="nickname"]').val()==''){
			alert("请填写公司名称");return;
		}
		if($('input[name="contact_name"]').val()==''){
			alert("请填写联系人姓名");return;
		}
		if($('input[name="contact_post"]').val()==''){
			alert("请填写联系人职位");return;
		}
		if($('#bank_card').val()==''){
			alert("营业执照不能为空");return;
		}
		if($('#pic').val()==''){
			alert("法人身份证照片不能为空");return;
		}
	<{/if}>
	
	if(!isPasswd($('input[name="pass"]').val())){
		alert("请填写正确格式的密码");return;
	}
	if($('input[name="pass"]').val()!=$('input[name="repass"]').val()){
		alert("两次密码输入不一致");return;
	}
	$.post("register.php",$("#memInfo").serialize(),function(res){
		if(res){
			if(res=='exist'){
				alert("该手机账号已存在");
			}else if(res=='codeerr'){
				alert("手机验证码错误");
			}else if(res=='wxerr'){
				alert("微信身份标识丢失，请点击底部菜单，从推送的图文打开");
			}else{
				alert("恭喜您，注册成功");
				<{if $smarty.get.type==2}>
					window.location.href="index.php?m=user&a=user_index";
				<{else}>
					window.location.href="index.php?m=task&a=index";//个人用户注册后调到兼职列表
				<{/if}>
			}
		}else{
			alert("注册失败");
		}
	});
}
var getCodeTime;
//获取手机验证码
function get_mobile_code(){
	if(!isMobil($('#phone').val())){
		alert("请填写正确的手机号");return;
	}
	//防止重复点击
	if($(".get_num").attr('data-getStatus')=='1') return;
	$(".get_num").attr('data-getStatus','1');
	
	$.post('sms.php', {mobile:jQuery.trim($('#phone').val()),send_code:<{$send_code}>}, function(msg){
		msg=jQuery.trim(msg);
		/*if(msg=='suc'){
			getCode();return;
		}else if(msg=='err'){
			alert("短信不足或其他错误");
			$(".get_num").attr('data-getStatus','0');
			return;
		}*/
		getCode();
	});
};
function getCode(){
	$(".get_num").addClass('code_gray');
	$(".get_num").html('<span>60</span>秒后重新获取');
	getCodeTimeDec();
}
//倒计时
function getCodeTimeDec(){
	getCodeTime=setInterval(function(){
		var timeNum=$(".get_num span").text();
		timeNum=parseInt(timeNum)-1;
		$(".get_num span").text(timeNum);
		if(timeNum<1){
			clearInterval(getCodeTime);
			getCodeTime=null;
			$(".get_num").removeClass('code_gray');
			$(".get_num").attr('data-getStatus','0');
			$(".get_num").html('获取验证码');
		}
	},1000);
}
//验证手机号
function isMobil(s){  
	var patrn=/^1[0-9]{10}$/;  
	if (!patrn.exec(s)) return false
	return true
}
//验证密码
function isPasswd(s){  
	var patrn=/^[0-9a-zA-Z]{6,15}$/;  
	if (!patrn.exec(s)) return false
	return true
}
</script>
</body>
</html>