<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>兼职个人中心</title>
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="stylesheet" type="text/css" href="font/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<script src="js/jquery.min.js"></script>
</head>
<style type="text/css">
.personal_list ul{display:table;margin:0;padding:0;list-style-type:none;width:100%;height:50px;background-color:#fff;border-bottom:1px solid #E8E8E8;}
.personal_list ul li{display:table-cell;height:30px;width:50%;text-align:center;padding-top:25px; line-height:50px;}
.personal_list ul li span{color:#ff7101;}
.personal_list ul li:first-child{background:url(images/ye.gif) no-repeat center top;border-right:1px solid #E8E8E8;}
.personal_list ul li:last-child{background:url(images/jf.gif) no-repeat center top;}
.vip {
  width: 150px;
  display: block;
  margin: 5px auto 5px auto;
}
</style>
<body>
<div class="main">	
    <div class="personal_top" id="cardPic" >
		<div class="personal_img">
		<img src="<{if $headPic}><{$headPic}><{else}>images/people.png<{/if}>" style="border:none;" />
		</div>
		<p><{$userRow.nickname|default:'匿名'}><{if $userExtRow.group_id==2}>-督导<{elseif $userExtRow.group_id==3}>-区主管<{elseif $userExtRow.group_id==4}>-区经理<{/if}></p>
	</div>
	<{if $userRow.is_v==1}><img class="vip" src="images/vip.gif"/><{/if}>
	<!-- 财务界面 -->
	<{if $userRow.username==11000}>
	<div class="personal_list">
		<ol>
			<a href="index.php?m=caiwu&a=task_index">
			<li>
				<div class="list_info">结算管理</div>
				<div class="next"><span class="fa fa-chevron-right" ></span></div>
			</li>
			</a>
			<div class="register_end" onclick="logout()" style="height:35px;line-height:35px;font-size:16px;width:90%;background-color:#ff7101;">退出登录</div>
		</ol>
	</div>
	<{else}>
	<!-- 个人用户界面 -->
	<div class="personal_list">
		<ol>
			<a href="index.php?m=user&a=user_add_personal">
				<li style='border-top:1px solid #E8E8E8;'>
					<div class="list_info">个人资料</div>
					<div class="next"><span class="fa fa-chevron-right" ></span></div>
				</li>
			</a>
			<!-- 如果是区主管或区经理 -->
			<{if $userExtRow.group_id==3}>
				<a href="index.php?m=assign&a=task_index">
				<li>
					<div class="list_info">任务分拨</div>
					<div class="next"><span class="fa fa-chevron-right" ></span></div>
				</li>
				</a>
			<{elseif $userExtRow.group_id==4}>
				<a href="index.php?m=assign&a=task_index">
				<li>
					<div class="list_info">任务分拨审核</div>
					<div class="next"><span class="fa fa-chevron-right" ></span></div>
				</li>
				</a>
			<{else}>
				<{if $userRow.type==1}>
				<a href="index.php?m=sign_history&a=index">
				<li>
					<div class="list_info">历史报名</div>
					<div class="next"><span class="fa fa-chevron-right" ></span></div>
				</li>
				</a>
				<a href="javascript:void(0);">
				<li>
					<div class="list_info">我的积分&nbsp;&nbsp;&nbsp;<span style="color:#ff7101"><{$userRow.score}></span></div>
				</li>
				</a>
				<a href="index.php?m=user&a=jk">
				<li>
					<div class="list_info">我的金库</div>
					<div class="next"><span class="fa fa-chevron-right" ></span></div>
				</li>
				</a>
				<{/if}>
			<{/if}>
			<!-- 如果是督导 -->
			<{if $userExtRow.group_id == 2}>
				<a href="index.php?m=assign&a=dudao_index">
				<li>
					<div class="list_info">工作任务</div>
					<div class="next"><span class="fa fa-chevron-right" ></span></div>
				</li>
				</a>
			<{/if}>
			<a href="index.php?m=job&a=index_user">
			<li>
				<div class="list_info">任务管理</div>
				<div class="next"><span class="fa fa-chevron-right" ></span></div>
			</li>
			</a>
			<a href="editp.php">
			<li>
				<div class="list_info">修改密码</div>
				<div class="next"><span class="fa fa-chevron-right" ></span></div>
			</li>
			</a>
			<a href="javascript:void(0);" onclick="phone_submit()">
			<li>
				<div class="list_info">电话提报</div>
				<div class="next"><span class="fa fa-chevron-right" ></span></div>
			</li>
			</a>
			<a href="index.php?m=personal&a=orderhistory">
			<li>
				<div class="list_info">云淘坊消费记录</div>
				<div class="next"><span class="fa fa-chevron-right" ></span></div>
			</li>
			</a>
			<a href="index.php?m=card&a=index">
			<li>
				<div class="list_info">我的卡券</div>
				<div class="next"><span class="fa fa-chevron-right" ></span></div>
			</li>
			</a>
			<{if $userRow.agent_num != ''}>
			<a href="index.php?m=agent&a=mid">
			<li>
				<div class="list_info">我的店铺</div>
				<div class="next"><span class="fa fa-chevron-right" ></span></div>
			</li>
			</a>
			<{/if}>
			<{if $userExtRow.group_id==2}>
			<div class="register_end" onclick="chuqin()" style="height:35px;line-height:35px;font-size:16px;width:40%;background-color:#ff7101;">出勤提报</div>
			<{/if}>
			<div class="register_end" onclick="logout()" style="height:35px;line-height:35px;font-size:16px;width:90%;background-color:#ff7101;">退出登录</div>
		</ol>
	</div>
	<{/if}>
</div><{include file="footer.html"}>
<!-- 上传照片 -->
<div style="visibility:hidden;">
	<iframe name='img-frame' id="img-frame" style="visibility:hidden;height:10px"></iframe>
	<form id="img-form" action="upload.php" encType="multipart/form-data" method="post" target="img-frame">
		<input type="hidden" name="id" value="<{$userRow.id}>" />
		<input type="file" name="imgfile" value="" id="img-file" onchange="$('#img-form').submit();"/>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#cardPic img").click(function(){
		$('#img-file').click()
	});
	$('#img-frame').load(function(){
        try{var html = $(this).contents().find('body').html();
    	}catch(e){ var html = window.frames["upload_frame"].document.body.innerText;}
    	try{
    	    var result = $.parseJSON(html);
    	    if(result.success==1){
    	    	$("#cardPic img").attr('src',"/data/image_c/"+result.data.path);
    	    }else{
				alert("照片太大或其他错误");
			}
    	}catch(e){}
    });
})
//退出
function logout(){
	if(confirm('确定要退出吗？')){
		$.get('index.php?m=user&a=logout',function(){
			window.location.href="login.php";
		})
	}
}
//报出勤
function chuqin(){
	if(confirm('你确定明天能出勤吗？')){
		$.get("index.php?m=assign&a=dudao_attend",function(res){
			res=$.trim(res);
			if(res=='err'){
				alert('您已经报告明天可以出勤');
			}else{
				alert(res);
			}
		})
	}
}
//电话提报
function phone_submit(){
	if('<{$tid}>'){
		if('<{$is_phone}>'=='1'){
			window.location.href="index.php?m=phone&a=add&tid=<{$tid}>";
		}else{
			alert('您今天参加的兼职不能提报电话');
		}
	}else{
		alert('您今天未参加兼职或未出勤');
	}
}
</script>
</body> 
</html>