<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="<{$WEB_DOMAIN}>/home/public/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="<{$WEB_DOMAIN}>/home/public/css/default.css" />
	<script type='text/javascript' src='<{$WEB_DOMAIN}>/home/public/js/jquery-1.11.0.min.js'></script>
	<script type='text/javascript' src='<{$WEB_DOMAIN}>/home/public/js/common.js'></script>
    <title>信息库列表 - <{$DEFAULT_TITLE}></title>
</head>
<body>
    
    <div class="main-container clearfix">
        <{include file="$ROOT_PATH/home/public/templates/header.html"}>
        <!-- content -->
        <{include file="$ROOT_PATH/home/$_TPL_"}>
        
		<div class="clearfix"></div>
        <{include file="$ROOT_PATH/home/public/templates/footer.html"}>
    </div>
</body>
</html>
