<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="<{$WEB_DOMAIN}>/home/public/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="<{$WEB_DOMAIN}>/home/public/css/default.css" />
	<script type='text/javascript' src='<{$WEB_DOMAIN}>/home/public/js/jquery-1.11.0.min.js'></script>
	<script type='text/javascript' src='<{$WEB_DOMAIN}>/home/public/js/common.js'></script>
    <title><{$DEFAULT_TITLE}>-微信公众平台服务解决方案</title>
</head>
<body class="outer-body">
	<div class="container">
	    <div class="header" style="background:none;">
	        <h1>&nbsp;</h1>
	        <h2>&nbsp;</h2>
	    </div>
        <!-- content -->
        <{include file="$ROOT_PATH/home/$_TPL_"}>
    </div>
	<div class="clearfix"></div>
    <div class="outer-footer">Copyright &copy; 2013-2015 All Rights Reserved. <!-- 苏ICP备09098830号 Tel：0512-65965129 Fax:0512-65965136 Email:service@yunfanke.com --> </div>
	<span style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe5d4e4eba2e734b4b4adf7d5f794c8d5' type='text/javascript'%3E%3C/script%3E"));
</script>
</span>
</body>
</html>
