<style type="text/css">
.redactbtn{border-color:#bbb;}
.enable,.sub-set-title ul li a{font-size:14px;}
.serch_middle_div{height:35px;padding:5px;}
.page-list{margin-top:15px;float: right;margin-right:20px;}
.page-list a,.page-list span{margin-right:5px;}

.kfTypeDiv span{cursor:pointer;}
.kfSpan{color:#ccc;}
.isKf{color:#428bca;}

.replyDiv{position:fixed;z-index:1999;width:1200px;padding:1px;top:0;display:none;}
.replyBox{border:1px solid #BCE1B4;width:250px;height:140px;margin:0 auto;background-color:#fff;border-radius:5px;}
.replyBox h3{background-color:#5CB85C;color:#fff;margin:0;font-size:16px;height:30px;line-height:30px;}
.replyBox div{margin:10px;}
.replyBox textarea{width:230px;height:60px;border-radius:5px;}
.replyBox input[type='button']{padding:3px 10px;font-family:"Microsoft YaHei","黑体","宋体";}
.replyBox b{display:block;float:right;cursor:pointer;}
.code_btn{padding:4px 20px;background-color:#EDEDED;border:1px solid #DDD;font-size:12px;
	cursor:pointer;border-radius:3px;color:#686868;}
.num_inp{width:50px;text-indent:5px;}
</style>
<div class="main-content">
<div class='inner'>
<div class="manage-apply">
<div class="apply-content">
<div class="manage-menu">
	<div class='serch_middle_div'>
		<{if $smarty.get.type==1}>
		<span style='float:left;line-height:35px;font-weight:bold;'>个人用户人数：<{$countnum}> | 本日平台活跃量：<{$activenum}></span>
		<{else}>
		<span style='float:left;line-height:35px;font-weight:bold;'>企业用户人数：<{$countnum}></span>
		<{/if}>
		<div class="pull-right" style="margin-right:8px">
			<form method="get" action="">
				<input type="hidden" name="type" value="<{$smarty.get.type}>" />
				<{if $smarty.get.type=='1'}>
				<select name="agent_num" style="height:25px;line-height:25px;">
					<option value="">代理商</option>
					<option value="1" <{if $smarty.get.agent_num=='1'}>selected<{/if}> >是</option>
				</select>&nbsp;&nbsp;
				<select name="wanshan" style="height:25px;line-height:25px;">
					<option value="">身份证照</option>
					<option value="2" <{if $smarty.get.wanshan=='2'}>selected<{/if}> >无</option>
					<option value="1" <{if $smarty.get.wanshan=='1'}>selected<{/if}> >有</option>
				</select>&nbsp;&nbsp;
				<select name="bank_card" style="height:25px;line-height:25px;">
					<option value="">银行卡</option>
					<option value="2" <{if $smarty.get.bank_card=='2'}>selected<{/if}> >无</option>
					<option value="1" <{if $smarty.get.bank_card=='1'}>selected<{/if}> >有</option>
				</select>&nbsp;&nbsp;
				<select name="is_see" style="height:25px;line-height:25px;">
					<option value="">审核状态</option>
					<option value="2" <{if $smarty.get.is_see=='2'}>selected<{/if}> >未通过</option>
					<option value="1" <{if $smarty.get.is_see=='1'}>selected<{/if}> >通过</option>
				</select>&nbsp;&nbsp;
				<select name="did" style="height:25px;line-height:25px;">
					<option value="">请选择区</option>
					<{foreach from=$darr item="v"}>
						<option value="<{$v.DistrictID}>" <{if $smarty.get.did==$v.DistrictID}>selected<{/if}> ><{$v.DistrictName}></option>
					<{/foreach}>
				</select>&nbsp;&nbsp;
				<input name="wx_nickname" class="keywords" placeholder="微信昵称" type="text" value="<{$smarty.get.wx_nickname}>" style="width:70px;" />&nbsp;&nbsp;
				<input name="username" class="keywords" placeholder="输入手机号" type="text" value="<{$smarty.get.username}>" style="width:80px;" />&nbsp;&nbsp;
				<input name="nicheng" class="keywords" placeholder="输入昵称" type="text" value="<{$smarty.get.nicheng}>" style="width:80px;" />&nbsp;&nbsp;
				<{else}>
				<select name="industry_id" style="height:25px;line-height:25px;">
					<option value="">所属行业</option>
					<{foreach from=$darr item="v"}>
						<option value="<{$v.DistrictID}>" <{if $smarty.get.did==$v.DistrictID}>selected<{/if}> ><{$v.DistrictName}></option>
					<{/foreach}>
				</select>&nbsp;&nbsp;
				<{/if}>
				<input name="keywords" class="keywords" placeholder="输入名称" type="text" value="<{$smarty.get.keywords}>"  style="width:80px;" />&nbsp;&nbsp;
				<input value="搜索" id="search" class="" title="搜索" type="submit">
			</form>
		</div>
	</div>
	<div class="list-table">
		<div class="wrapper" style="width:100%;">
			<table style="table-layout:auto;" class="stable">
				<thead>
					<tr>
						<{if $smarty.get.type==1}>
						<th name="Theme" class="hover enable">头像</th>
						<th name="Theme" class="hover enable">手机账号</th>
						<th name="Theme" class="hover enable">真实姓名</th>
						<th name="Theme" class="hover enable">昵称</th>
						<th name="Theme" class="hover enable">性别</th>
						<th name="Theme" class="hover enable">代理商编号</th>
						<th name="Theme" class="hover enable">余额(元)</th>
						<th name="Theme" class="hover enable">向该用户</th>
						<{if $smarty.get.admin==1}><th name="Theme" class="hover enable">充值</th><{/if}>
						<th name="Theme" class="hover enable">审核通过</th>
						<{else}>
						<th name="Theme" class="hover enable">手机账号</th>
						<th name="Theme" class="hover enable">公司名称</th>
						<th name="Theme" class="hover enable">联系人</th>
						<{/if}>
						<th name="Operate" class="hover enable">所属区</th>
						<th name="Operate" class="hover enable">注册日期</th>
						<th name="Operate" class="hover enable">操作</th>
					</tr>
				</thead>
				<tbody class='postTbody'>
					<!------------列表开始------------>
					<{foreach from=$list item="v"}>
					<tr>
						<{if $smarty.get.type==1}>
						<td><div>
							<{if $v.headPic}>
								<img src="<{$v.headPic}>" height="50" />
							<{/if}>
						</div></td>
						<td><div><{$v.username}></div></td>
						<td><div><{$v.nickname}></div></td>
						<td><div><{$v.nicheng}></div></td>
						<td><div><{if $v.sex==1}>男<{else}>女<{/if}></div></td>
						<td>
							<input type="text" value="<{$v.agent_num}>" class="num_inp" onblur="num_change(<{$v.id}>,this,event)" />
						</td>
						<td><div><{$v.money}></div></td>
						<td><div><a href="javascript:void(0);" onclick="sendMsg(this,<{$v.id}>)" data-name="<{$v.nickname}>">发消息</a></div></td>
						<{if $smarty.get.admin==1}><td><a href="index.php?a=cz&id=<{$v.id}>">充值</a></td><{/if}>
						<td><{if $v.is_see==1}><div>是</div><{else}><div style="color:red;">否</div><{/if}></td>
						<{else}>
						<td><div><{$v.username}></div></td>
						<td><div><{$v.nickname}></div></td>
						<td><div><{$v.contact_name}></div></td>
						<{/if}>
						<td><div><{$v.district}></div></td>
						<td><div><{$v.addtime}></div></td>
						<td>
							<div class="btn-operate">
							<{if $smarty.get.type==1}>
							<a href="index.php?a=detail&id=<{$v.id}>" class="redactbtn">详细信息</a> | 
							<{else}>
							<a href="index.php?a=detail_company&id=<{$v.id}>" class="redactbtn">详细信息</a> | 
							<{/if}>
							<a href="#" onclick="delRow(event,'<{$v.id}>')" class="redactbtn">删除</a>
							</div>
						</td>
					</tr>
					<{/foreach}>
					<!------------列表结束------------>
				</tbody>
			</table>
			<{if $page}><div class="page-list" style="margin-top:15px;float: right;margin-right:20px;"><{$page}></div><{/if}>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<!-- loading动画开始 -->
<div id="loading" style="position:fixed;z-index:881213;display:none;width:100%;height:100px;top:0;filter:alpha(opacity=70);opacity:0.7;background-color:#999;"><img src="../public/img/loading.gif" style="display:block;margin:200px 550px;" /></div>
<!-- loading动画结束 -->
<!-- 回复框 -->
<div class="replyDiv">
	<div class='replyBox'>
		<h3>
			&nbsp;回复<span>陈冰</span>
			<b onclick="$('.replyDiv').hide();">×&nbsp;</b>
		</h3>
		<div>
			<input type="hidden" name="talk_id" id="talk_id" value="" />
			<textarea name="" id="replyContent"></textarea><br />
			<input type="button" class="btn btn-large btn-success" onclick="submitMsg()" value="发送" />
		</div>
	</div>
</div>
<script type="text/javascript">
set_title_name('用户管理');
set_menu_cur('menu_3<{$smarty.get.type}>', 'cur');
function delRow(event,id){
	if(confirm("确定要删除此信息吗?")){
		$.ajax({
			url:"index.php",
			data:{id:id,a:'del'},
			type:"post",
			dataType:'json',
			async:false,
			success:function(res) {
				if(res){
					note_info('删除成功','success',event);
					setTimeout("window.location.reload()",300);
				}else{
					note_info('删除失败','warn',event);
				}
			}
		});
	}
}
$(document).ready(function(){
	var bodyWidth = document.documentElement.clientWidth;
	var bodyHeight = document.documentElement.clientHeight;
	$('#loading').css({height:bodyHeight+'px'});
	
	$('.kfTypeDiv span').click(function(){
		if(confirm('确定要执行此操作吗？')){
			var kf_type=$(this).attr('data-status');
			var open_act_id=$(this).attr('data-id');
			$.get('index.php',{a:'kf',id:open_act_id,type:kf_type},function(res){
				if(res){
					window.location.reload();
				}
			})
		}
	})
})
//对单个用户发消息
function sendMsg(obj,id){
	var manname=$(obj).attr('data-name');
	$('.replyBox span').text(manname);
	$('#talk_id').val(id);
	$('.replyDiv').slideDown();
}
function submitMsg(){
	var replyContent=$('#replyContent').val();
	if(replyContent==''){
		alert('消息不能为空');return;
	}
	var talk_id=$('#talk_id').val();
	$('#loading').show();
	$.post('index.php',{a:'send_msg',id:talk_id,content:replyContent},function(){
		$('#loading').hide();
		alert('发送成功');
		$('.replyDiv').slideUp();
		$('#replyContent').val('');
	});
}
//产生优惠码
function produce_code(id,name){
	if(confirm('确定为'+name+'生成优惠码吗？')){
	$.post('index.php?a=produce_code',{id:id},function(){
		window.location.reload();
	})
	}
}
//生成代理商编号
function num_change(id,obj,event){
	$.post('index.php?a=num_change',{id:id,num:$(obj).val()},function(res){
		res=$.trim(res);
		if(res=='cf'){
			alert('编号为空或已存在');
			window.location.reload();
		}else if(res=='suc'){
			alert('编号分配成功');
		}
	})
}
</script>