
	<div class="emoticons_frame_top">
            <a href="javascript:void(0);"  class="emoticons_click" name="facebox_qq"></a>
        </div>
        <div class="emoticons_pic">
            <ul name="face_box_qq">
                <li><a title="微笑" href="javascript:void(0);" ><img width="24" height="24" alt="微笑" src="/home/public/img/qqimages/0.gif"></a></li>
                <li><a title="撇嘴" href="javascript:void(0);" ><img width="24" height="24" alt="撇嘴" src="/home/public/img/qqimages/1.gif"></a></li>
                <li><a title="色" href="javascript:void(0);" ><img width="24" height="24" alt="色" src="/home/public/img/qqimages/2.gif"></a></li>
                <li><a title="发呆" href="javascript:void(0);" ><img width="24" height="24" alt="发呆" src="/home/public/img/qqimages/3.gif"></a></li>
                <li><a title="得意" href="javascript:void(0);" ><img width="24" height="24" alt="得意" src="/home/public/img/qqimages/4.gif"></a></li>
                <li><a title="流泪" href="javascript:void(0);" ><img width="24" height="24" alt="流泪" src="/home/public/img/qqimages/5.gif"></a></li>
                <li><a title="害羞" href="javascript:void(0);" ><img width="24" height="24" alt="害羞" src="/home/public/img/qqimages/6.gif"></a></li>
                <li><a title="闭嘴" href="javascript:void(0);" ><img width="24" height="24" alt="闭嘴" src="/home/public/img/qqimages/7.gif"></a></li>
                <li><a title="睡" href="javascript:void(0);" ><img width="24" height="24" alt="睡" src="/home/public/img/qqimages/8.gif"></a></li>
                <li><a title="大哭" href="javascript:void(0);" ><img width="24" height="24" alt="大哭" src="/home/public/img/qqimages/9.gif"></a></li>
                <li><a title="尴尬" href="javascript:void(0);" ><img width="24" height="24" alt="尴尬" src="/home/public/img/qqimages/10.gif"></a></li>
                <li><a title="发怒" href="javascript:void(0);" ><img width="24" height="24" alt="发怒" src="/home/public/img/qqimages/11.gif"></a></li>
                <li><a title="调皮" href="javascript:void(0);" ><img width="24" height="24" alt="调皮" src="/home/public/img/qqimages/12.gif"></a></li>
                <li><a title="呲牙" href="javascript:void(0);" ><img width="24" height="24" alt="呲牙" src="/home/public/img/qqimages/13.gif"></a></li>
                <li><a title="惊讶" href="javascript:void(0);" ><img width="24" height="24" alt="惊讶" src="/home/public/img/qqimages/14.gif"></a></li>
                <li><a title="难过" href="javascript:void(0);" ><img width="24" height="24" alt="难过" src="/home/public/img/qqimages/15.gif"></a></li>
                <li><a title="酷" href="javascript:void(0);" ><img width="24" height="24" alt="酷" src="/home/public/img/qqimages/16.gif"></a></li>
                <li><a title="冷汗" href="javascript:void(0);" ><img width="24" height="24" alt="冷汗" src="/home/public/img/qqimages/17.gif"></a></li>
                <li><a title="抓狂" href="javascript:void(0);" ><img width="24" height="24" alt="抓狂" src="/home/public/img/qqimages/18.gif"></a></li>
                <li><a title="吐" href="javascript:void(0);" ><img width="24" height="24" alt="吐" src="/home/public/img/qqimages/19.gif"></a></li>
                <li><a title="偷笑" href="javascript:void(0);" ><img width="24" height="24" alt="偷笑" src="/home/public/img/qqimages/20.gif"></a></li>
                <li><a title="愉快" href="javascript:void(0);" ><img width="24" height="24" alt="愉快" src="/home/public/img/qqimages/21.gif"></a></li>
                <li><a title="白眼" href="javascript:void(0);" ><img width="24" height="24" alt="白眼" src="/home/public/img/qqimages/22.gif"></a></li>
                <li><a title="傲慢" href="javascript:void(0);" ><img width="24" height="24" alt="傲慢" src="/home/public/img/qqimages/23.gif"></a></li>
                <li><a title="饥饿" href="javascript:void(0);" ><img width="24" height="24" alt="饥饿" src="/home/public/img/qqimages/24.gif"></a></li>
                <li><a title="困" href="javascript:void(0);" ><img width="24" height="24" alt="困" src="/home/public/img/qqimages/25.gif"></a></li>
                <li><a title="惊恐" href="javascript:void(0);" ><img width="24" height="24" alt="惊恐" src="/home/public/img/qqimages/26.gif"></a></li>
                <li><a title="流汗" href="javascript:void(0);" ><img width="24" height="24" alt="流汗" src="/home/public/img/qqimages/27.gif"></a></li>
                <li><a title="憨笑" href="javascript:void(0);" ><img width="24" height="24" alt="憨笑" src="/home/public/img/qqimages/28.gif"></a></li>
                <li><a title="悠闲" href="javascript:void(0);" ><img width="24" height="24" alt="悠闲" src="/home/public/img/qqimages/29.gif"></a></li>
                <li><a title="奋斗" href="javascript:void(0);" ><img width="24" height="24" alt="奋斗" src="/home/public/img/qqimages/30.gif"></a></li>
                <li><a title="咒骂" href="javascript:void(0);" ><img width="24" height="24" alt="咒骂" src="/home/public/img/qqimages/31.gif"></a></li>
                <li><a title="疑问" href="javascript:void(0);" ><img width="24" height="24" alt="疑问" src="/home/public/img/qqimages/32.gif"></a></li>
                <li><a title="嘘" href="javascript:void(0);" ><img width="24" height="24" alt="嘘" src="/home/public/img/qqimages/33.gif"></a></li>
                <li><a title="晕" href="javascript:void(0);" ><img width="24" height="24" alt="晕" src="/home/public/img/qqimages/34.gif"></a></li>
                <li><a title="疯了" href="javascript:void(0);" ><img width="24" height="24" alt="疯了" src="/home/public/img/qqimages/35.gif"></a></li>
                <li><a title="衰" href="javascript:void(0);" ><img width="24" height="24" alt="衰" src="/home/public/img/qqimages/36.gif"></a></li>
                <li><a title="骷髅" href="javascript:void(0);" ><img width="24" height="24" alt="骷髅" src="/home/public/img/qqimages/37.gif"></a></li>
                <li><a title="敲打" href="javascript:void(0);" ><img width="24" height="24" alt="敲打" src="/home/public/img/qqimages/38.gif"></a></li>
                <li><a title="再见" href="javascript:void(0);" ><img width="24" height="24" alt="再见" src="/home/public/img/qqimages/39.gif"></a></li>
                <li><a title="擦汗" href="javascript:void(0);" ><img width="24" height="24" alt="擦汗" src="/home/public/img/qqimages/40.gif"></a></li>
                <li><a title="抠鼻" href="javascript:void(0);" ><img width="24" height="24" alt="抠鼻" src="/home/public/img/qqimages/41.gif"></a></li>
                <li><a title="鼓掌" href="javascript:void(0);" ><img width="24" height="24" alt="鼓掌" src="/home/public/img/qqimages/42.gif"></a></li>
                <li><a title="糗大了" href="javascript:void(0);" ><img width="24" height="24" alt="糗大了" src="/home/public/img/qqimages/43.gif"></a></li>
                <li><a title="坏笑" href="javascript:void(0);" ><img width="24" height="24" alt="坏笑" src="/home/public/img/qqimages/44.gif"></a></li>
                <li><a title="左哼哼" href="javascript:void(0);" ><img width="24" height="24" alt="左哼哼" src="/home/public/img/qqimages/45.gif"></a></li>
                <li><a title="右哼哼" href="javascript:void(0);" ><img width="24" height="24" alt="右哼哼" src="/home/public/img/qqimages/46.gif"></a></li>
                <li><a title="哈欠" href="javascript:void(0);" ><img width="24" height="24" alt="哈欠" src="/home/public/img/qqimages/47.gif"></a></li>
                <li><a title="鄙视" href="javascript:void(0);" ><img width="24" height="24" alt="鄙视" src="/home/public/img/qqimages/48.gif"></a></li>
                <li><a title="委屈" href="javascript:void(0);" ><img width="24" height="24" alt="委屈" src="/home/public/img/qqimages/49.gif"></a></li>
                <li><a title="快哭了" href="javascript:void(0);" ><img width="24" height="24" alt="快哭了" src="/home/public/img/qqimages/50.gif"></a></li>
                <li><a title="阴险" href="javascript:void(0);" ><img width="24" height="24" alt="阴险" src="/home/public/img/qqimages/51.gif"></a></li>
                <li><a title="亲亲" href="javascript:void(0);" ><img width="24" height="24" alt="亲亲" src="/home/public/img/qqimages/52.gif"></a></li>
                <li><a title="吓" href="javascript:void(0);" ><img width="24" height="24" alt="吓" src="/home/public/img/qqimages/53.gif"></a></li>
                <li><a title="可怜" href="javascript:void(0);" ><img width="24" height="24" alt="可怜" src="/home/public/img/qqimages/54.gif"></a></li>
                <li><a title="菜刀" href="javascript:void(0);" ><img width="24" height="24" alt="菜刀" src="/home/public/img/qqimages/55.gif"></a></li>
                <li><a title="西瓜" href="javascript:void(0);" ><img width="24" height="24" alt="西瓜" src="/home/public/img/qqimages/56.gif"></a></li>
                <li><a title="啤酒" href="javascript:void(0);" ><img width="24" height="24" alt="啤酒" src="/home/public/img/qqimages/57.gif"></a></li>
                <li><a title="篮球" href="javascript:void(0);" ><img width="24" height="24" alt="篮球" src="/home/public/img/qqimages/58.gif"></a></li>
                <li><a title="乒乓" href="javascript:void(0);" ><img width="24" height="24" alt="乒乓" src="/home/public/img/qqimages/59.gif"></a></li>
                <li><a title="咖啡" href="javascript:void(0);" ><img width="24" height="24" alt="咖啡" src="/home/public/img/qqimages/60.gif"></a></li>
                <li><a title="饭" href="javascript:void(0);" ><img width="24" height="24" alt="饭" src="/home/public/img/qqimages/61.gif"></a></li>
                <li><a title="猪头" href="javascript:void(0);" ><img width="24" height="24" alt="猪头" src="/home/public/img/qqimages/62.gif"></a></li>
                <li><a title="玫瑰" href="javascript:void(0);" ><img width="24" height="24" alt="玫瑰" src="/home/public/img/qqimages/63.gif"></a></li>
                <li><a title="凋谢" href="javascript:void(0);" ><img width="24" height="24" alt="凋谢" src="/home/public/img/qqimages/64.gif"></a></li>
                <li><a title="嘴唇" href="javascript:void(0);" ><img width="24" height="24" alt="嘴唇" src="/home/public/img/qqimages/65.gif"></a></li>
                <li><a title="爱心" href="javascript:void(0);" ><img width="24" height="24" alt="爱心" src="/home/public/img/qqimages/66.gif"></a></li>
                <li><a title="心碎" href="javascript:void(0);" ><img width="24" height="24" alt="心碎" src="/home/public/img/qqimages/67.gif"></a></li>
                <li><a title="蛋糕" href="javascript:void(0);" ><img width="24" height="24" alt="蛋糕" src="/home/public/img/qqimages/68.gif"></a></li>
                <li><a title="闪电" href="javascript:void(0);" ><img width="24" height="24" alt="闪电" src="/home/public/img/qqimages/69.gif"></a></li>
                <li><a title="炸弹" href="javascript:void(0);" ><img width="24" height="24" alt="炸弹" src="/home/public/img/qqimages/70.gif"></a></li>
                <li><a title="刀" href="javascript:void(0);" ><img width="24" height="24" alt="刀" src="/home/public/img/qqimages/71.gif"></a></li>
                <li><a title="足球" href="javascript:void(0);" ><img width="24" height="24" alt="足球" src="/home/public/img/qqimages/72.gif"></a></li>
                <li><a title="瓢虫" href="javascript:void(0);" ><img width="24" height="24" alt="瓢虫" src="/home/public/img/qqimages/73.gif"></a></li>
                <li><a title="便便" href="javascript:void(0);" ><img width="24" height="24" alt="便便" src="/home/public/img/qqimages/74.gif"></a></li>
                <li><a title="月亮" href="javascript:void(0);" ><img width="24" height="24" alt="月亮" src="/home/public/img/qqimages/75.gif"></a></li>
                <li><a title="太阳" href="javascript:void(0);" ><img width="24" height="24" alt="太阳" src="/home/public/img/qqimages/76.gif"></a></li>
                <li><a title="礼物" href="javascript:void(0);" ><img width="24" height="24" alt="礼物" src="/home/public/img/qqimages/77.gif"></a></li>
                <li><a title="拥抱" href="javascript:void(0);" ><img width="24" height="24" alt="拥抱" src="/home/public/img/qqimages/78.gif"></a></li>
                <li><a title="强" href="javascript:void(0);" ><img width="24" height="24" alt="强" src="/home/public/img/qqimages/79.gif"></a></li>
                <li><a title="弱" href="javascript:void(0);" ><img width="24" height="24" alt="弱" src="/home/public/img/qqimages/80.gif"></a></li>
                <li><a title="握手" href="javascript:void(0);" ><img width="24" height="24" alt="握手" src="/home/public/img/qqimages/81.gif"></a></li>
                <li><a title="胜利" href="javascript:void(0);" ><img width="24" height="24" alt="胜利" src="/home/public/img/qqimages/82.gif"></a></li>
                <li><a title="抱拳" href="javascript:void(0);" ><img width="24" height="24" alt="抱拳" src="/home/public/img/qqimages/83.gif"></a></li>
                <li><a title="勾引" href="javascript:void(0);" ><img width="24" height="24" alt="勾引" src="/home/public/img/qqimages/84.gif"></a></li>
                <li><a title="拳头" href="javascript:void(0);" ><img width="24" height="24" alt="拳头" src="/home/public/img/qqimages/85.gif"></a></li>
                <li><a title="差劲" href="javascript:void(0);" ><img width="24" height="24" alt="差劲" src="/home/public/img/qqimages/86.gif"></a></li>
                <li><a title="爱你" href="javascript:void(0);" ><img width="24" height="24" alt="爱你" src="/home/public/img/qqimages/87.gif"></a></li>
                <li><a title="NO" href="javascript:void(0);" ><img width="24" height="24" alt="NO" src="/home/public/img/qqimages/88.gif"></a></li>
                <li><a title="OK" href="javascript:void(0);" ><img width="24" height="24" alt="OK" src="/home/public/img/qqimages/89.gif"></a></li>
                <li><a title="爱情" href="javascript:void(0);" ><img width="24" height="24" alt="爱情" src="/home/public/img/qqimages/90.gif"></a></li>
                <li><a title="飞吻" href="javascript:void(0);" ><img width="24" height="24" alt="飞吻" src="/home/public/img/qqimages/91.gif"></a></li>
                <li><a title="跳跳" href="javascript:void(0);" ><img width="24" height="24" alt="跳跳" src="/home/public/img/qqimages/92.gif"></a></li>
                <li><a title="发抖" href="javascript:void(0);" ><img width="24" height="24" alt="发抖" src="/home/public/img/qqimages/93.gif"></a></li>
                <li><a title="怄火" href="javascript:void(0);" ><img width="24" height="24" alt="怄火" src="/home/public/img/qqimages/94.gif"></a></li>
                <li><a title="转圈" href="javascript:void(0);" ><img width="24" height="24" alt="转圈" src="/home/public/img/qqimages/95.gif"></a></li>
                <li><a title="磕头" href="javascript:void(0);" ><img width="24" height="24" alt="磕头" src="/home/public/img/qqimages/96.gif"></a></li>
                <li><a title="回头" href="javascript:void(0);" ><img width="24" height="24" alt="回头" src="/home/public/img/qqimages/97.gif"></a></li>
                <li><a title="跳绳" href="javascript:void(0);" ><img width="24" height="24" alt="跳绳" src="/home/public/img/qqimages/98.gif"></a></li>
                <li><a title="挥手" href="javascript:void(0);" ><img width="24" height="24" alt="挥手" src="/home/public/img/qqimages/99.gif"></a></li>
                <li><a title="激动" href="javascript:void(0);" ><img width="24" height="24" alt="激动" src="/home/public/img/qqimages/100.gif"></a></li>
                <li><a title="街舞" href="javascript:void(0);" ><img width="24" height="24" alt="街舞" src="/home/public/img/qqimages/101.gif"></a></li>
                <li><a title="献吻" href="javascript:void(0);" ><img width="24" height="24" alt="献吻" src="/home/public/img/qqimages/102.gif"></a></li>
                <li><a title="左太极" href="javascript:void(0);" ><img width="24" height="24" alt="左太极" src="/home/public/img/qqimages/103.gif"></a></li>
                <li><a title="右太极" href="javascript:void(0);" ><img width="24" height="24" alt="右太极" src="/home/public/img/qqimages/104.gif"></a></li>
            </ul>
        </div>