<div class=" main-content">
	<div class="inner">
		<div class="alert alert-success alert-dismissable fz12px alertfc">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p>1. <span class="c-red">订阅号</span>一天只可以群发一条信息，<span class="c-red">服务号</span>一月只可以群发一条信息，消息可以是文字、图文、多图文、视频、音乐等内容。</p>
			<p>2. <span class="c-red">认证后的服务号</span>可直接同步微信关注用户和互动消息。</p>
		</div>
		
		<nav class="navbar navbar-default user-navbar" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<span class="navbar-brand" href="#"><i class="icons icons-wechat"></i> 会员列表</span>
				</div>
				

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					<form class="navbar-form navbar-right nav-search" role="search">
						<div class="form-group">
					 
							<input type="text" class="form-control"style="border-radius:2px;text-indent: 0em;" placeholder="消息内容">
						</div>
						<button type="submit" class="btn btn-link">搜</button>
					</form>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="member_box" style="display:none;">
			
			<div class="list_title_box">                                                                                                                         
					<div class="list_title" style="width:620px; text-align:left; text-indent:15px;">
						正在与&nbsp;&nbsp;
						<strong>斑驳</strong>
						&nbsp;&nbsp;对话中 ...
					</div>
					<div class="list_title" style="width:110px;">
						<a href="#" class="link">展示更多记录&gt;&gt;</a>
					</div>
			</div>
			<div class="chat_box">
																						<div class="chat_answer">
								<div class="chat_adtime"><span>斑驳：2013-07-02 18:47:08</span></div>
								<div class="chat_admin">
									<div class="green_arrow"><img src="../public/img/greenarrow.jpg" height="11" width="23"></div>
									你好，我的中奖礼品什么时候发放？
								</div>
							</div>
																														<div class="chat_reply">
								<div class="chat_usertime"><span>月是故乡明：2013-07-02 18:48:20</span></div>
								<div class="chat_user">
									<div class="gray_arrow"><img src="../public/img/grayarrow.jpg" height="11" width="23"></div>
									已邮寄，EMS快递单号：EA020477806CS
请查收
								</div>
							</div>
																														<div class="chat_reply">
								<div class="chat_usertime"><span>月是故乡明：2013-07-02 18:49:04</span></div>
								<div class="chat_user">
									<div class="gray_arrow"><img src="../public/img/grayarrow.jpg" height="11" width="23"></div>
									谢谢你的参与，请关注下期活动^_^
								</div>
							</div>
																														<div class="chat_answer">
								<div class="chat_adtime"><span>斑驳：2013-07-02 18:50:08</span></div>
								<div class="chat_admin">
									<div class="green_arrow"><img src="../public/img/greenarrow.jpg" height="11" width="23"></div>
									收到了，谢谢
								</div>
							</div>
																														<div class="chat_reply">
								<div class="chat_usertime"><span>月是故乡明：2013-07-17 14:19:55</span></div>
								<div class="chat_user">
									<div class="gray_arrow"><img src="../public/img/grayarrow.jpg" height="11" width="23"></div>
									不客气。
								</div>
							</div>
																														<div class="chat_reply">
								<div class="chat_usertime"><span>月是故乡明：2013-07-17 14:22:11</span></div>
								<div class="chat_user">
									<div class="gray_arrow"><img src="../public/img/grayarrow.jpg" height="11" width="23"></div>
									有新活动啦，快来参加了*_*
								</div>
							</div>
																														<div class="chat_reply">
								<div class="chat_usertime"><span>月是故乡明：2013-09-02 16:07:02</span></div>
								<div class="chat_user">
									<div class="gray_arrow"><img src="../public/img/grayarrow.jpg" height="11" width="23"></div>
									你比较活跃，给你加了10分
								</div>
							</div>
																														<div class="chat_reply">
								<div class="chat_usertime"><span>月是故乡明：2013-09-13 14:54:58</span></div>
								<div class="chat_user">
									<div class="gray_arrow"><img src="../public/img/grayarrow.jpg" height="11" width="23"></div>
									没有库存了
								</div>
							</div>
																														<div class="chat_answer">
								<div class="chat_adtime"><span>斑驳：2013-10-17 07:04:13</span></div>
								<div class="chat_admin">
									<div class="green_arrow"><img src="../public/img/greenarrow.jpg" height="11" width="23"></div>
									？
								</div>
							</div>
																														<div class="chat_reply">
								<div class="chat_usertime"><span>月是故乡明：2014-01-17 17:01:38</span></div>
								<div class="chat_user">
									<div class="gray_arrow"><img src="../public/img/grayarrow.jpg" height="11" width="23"></div>
									发送成功了吗?
								</div>
							</div>
													
					<div id="send" class="huifubox">
						<span><textarea id="content" name="content" class="huifubox_text"></textarea></span>
						<span><button id="reply" class="btngreen30">发送</button></span>
					</div>
				</div>
		</div>


	</div>
</div>
<script type="text/javascript">
    set_title_name('会员列表-用户对话');
    set_menu_cur('menu_23','cur omega');
</script>