<div class="main-content">
	<div class="inner">
		<div class="data-info">
			<div class="consumer-info">
				<div class="cate-message">
					<ul>
						<li><a href="user.php">用户增长</a></li>							
						<li class="select"><a href="">用户属性</a></li>
						<li><a href="user.php?type=action">用户行为</a></li>
					</ul>
				</div>
				<div class="detail-target">
					<div class="content">
						<div>
							<h4 class="tread-title">性别分布</h4>
							<div class="trend-chart">
								<img src="../img/sex.jpg">
							</div>
						</div>
						<div>
							<h4 class="tread-title">语言分布</h4>
							<div class="trend-chart">
								<img src="../img/language.jpg">
							</div>
						</div>
						<div>
							<h4 class="tread-title">省份分布</h4>
							<div class="trend-chart">
								<div class="map-chart"><img src="../img/map.jpg"></div>
								<div class="map-rank">
								<div style="margin:0 20px 5px 30px; border:1px solid #D8D8D8;box-shadow: 0px 2px 2px 0px #E3E3E3;">
									<div class="wrapper">
										<table class="stable">
											<colgroup span="3">
												<col class="AttrValue">
												<col class="UserCount">
												<col style="width: 50%;" class="percent">
											</colgroup>
											<thead>
												<tr>
													<th name="AttrValue" class="">省份</th>
													<th name="UserCount" class="hover enable">用户数</th>
													<th name="percent" class=""> </th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><div>未知</div></td>
													<td><div>962</div></td>
													<td><div><span><div class="date-progress"><div style="width:22.42%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>北京</div></td>
													<td><div>202</div></td>
													<td><div><span><div class="date-progress"><div style="width:5.5%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>上海</div></td>
													<td><div>123</div></td>
													<td><div><span><div class="date-progress"><div style="width:3.74%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>广东省</div></td>
													<td><div>421</div></td>
													<td><div><span><div class="date-progress"><div style="width:10.37%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>浙江省</div></td>
													<td><div>295</div></td>
													<td><div><span><div class="date-progress"><div style="width:7.57%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>四川省</div></td>
													<td><div>145</div></td>
													<td><div><span><div class="date-progress"><div style="width:4.23%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>黑龙江省</div></td>
													<td><div>110</div></td>
													<td><div><span><div class="date-progress"><div style="width:3.45%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>河南省</div></td>
													<td><div>168</div></td>
													<td><div><span><div class="date-progress"><div style="width:4.74%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>辽宁省</div></td>
													<td><div>156</div></td>
													<td><div><span><div class="date-progress"><div style="width:4.47%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
												<tr>
													<td><div>江苏省</div></td>
													<td><div>213</div></td>
													<td><div><span><div class="date-progress"><div style="width:5.74%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
												</tr>
											</tbody>
										</table>
										<div class="date-page">
											<div class="page">
												<a href="#" class="first">第一页</a>
												<strong href="#" class="current">1</strong>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">后一页</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div>
							<h4 class="tread-title">城市分布<div class="ui_menu"><button class="button button-link" id="btn_province">全国</button></div></h4>
							<div class="trend-chart">
							<div class="sub_content" style="margin:0 10px 10px; border:1px solid #D8D8D8;box-shadow: 0px 2px 2px 0px #E3E3E3; ">
								<div class="wrapper">
									<table class="stable">
										<colgroup span="3">
											<col class="AttrValue">
											<col class="UserCount">
											<col style="width: 50%;" class="gri_percent">
										</colgroup>
										<thead>
											<tr>
											<th name="AttrValue" class="">城市</th>
											<th name="UserCount" class="hover enable">用户数</th>
											<th name="percent" class=""> </th>
											</tr>
										</thead>
										<tbody>
											<tr>
											<td><div>未知</div></td>
											<td><div>962</div></td>
											<td><div><span><div class="date-progress"><div style="width:23.24%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>北京</div></td>
											<td><div>202</div></td>
											<td><div><span><div class="date-progress"><div style="width:5.67%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>上海</div></td>
											<td><div>123</div></td>
											<td><div><span><div class="date-progress"><div style="width:3.84%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>深圳</div></td>
											<td><div>112</div></td>
											<td><div><span><div class="date-progress"><div style="width:3.59%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>广州</div></td>
											<td><div>112</div></td>
											<td><div><span><div class="date-progress"><div style="width:3.59%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>杭州</div></td>
											<td><div>88</div></td>
											<td><div><span><div class="date-progress"><div style="width:3.03%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>成都</div></td>
											<td><div>78</div></td>
											<td><div><span><div class="date-progress"><div style="width:2.8%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>哈尔滨</div></td>
											<td><div>59</div></td>
											<td><div><span><div class="date-progress"><div style="width:2.36%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>郑州</div></td>
											<td><div>58</div></td>
											<td><div><span><div class="date-progress"><div style="width:2.34%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
											<tr>
											<td><div>沈阳</div></td>
											<td><div>56</div></td>
											<td><div><span><div class="date-progress"><div style="width:2.29%; background:#7FBB87" class="date-progress-bar"></div></div></span></div></td>
											</tr>
										</tbody>
									</table>
									<div class="date-page">
										<div class="page">
										<a href="#" class="first">第一页</a>
										<strong href="#" class="current">1</strong>
										<a href="#">2</a>
										<a href="#">3</a>
										<a href="#">4</a>
										<a href="#">5</a>
										<span class="dot">...</span>
										<a href="#">30</a>
										<a href="#" class="next">下一页</a>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="date-layout">
					<div class="detail-message">
						<div class="sub_menu">
							<span class="sub-title">属性分布表</span>
							<ul>
								<li class="select"><a href="">性别</a></li>
								<li><a href="">语言</a></li>
								<li><a href="">省份</a></li>
								<li><a href="">城市</a></li>
							</ul>
						</div>		
					</div>
					<div>
						<h4 class="tread-title">详细数据</h4>
						<div class="trend-chart">
							<div class="sub_content" style="margin:0 10px 10px; border:1px solid #D8D8D8;">
								<div class="wrapper">
									<table class="stable">
										<colgroup span="3">
											<col class="AttrValue">
											<col class="UserCount">
											<col class="Percent">
										</colgroup>
										<thead>
											<tr>
											<th name="AttrValue" class="">性别</th>
											<th name="UserCount" class="hover enable">用户数</th>
											<th name="Percent" class="">占比</th>
											</tr>
										</thead>
										<tbody>
											<tr>
											<td><div>女</div></td>
											<td><div>2,486</div></td>
											<td><div>55.34%</div></td>
											</tr>
											<tr>
											<td><div>男</div></td>
											<td><div>1,968</div></td>
											<td><div>43.81%</div></td>
											</tr>
											<tr>
											<td><div>未知</div></td>
											<td><div>38</div></td>
											<td><div>0.85%</div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<script>
set_title_name('数据分析');
set_menu_cur('menu_22','cur');
</script>