<style type="text/css">
.servicesBox .serBox{width:180px;height:150px;}
.servicesBox .mypng{right:40px;}
</style>
<div class="main-content"><div class="inner"><div class="my-app"><div class="my-app-list">
	<div class="servicesBox" style="float:left;">
		<div id="Div1" class="serBox">
			<a href="./hptshop/index.php" style="color:#666;">
				<div class="app-type"></div>
				<div class="mypng" style="top:15px;">
					<img class="pic1" src="../public/img/app/eshop.png">
					<img class="pic2" src="../public/img/app/eshop-1.png"> </div>
				<div class="txt-intro" style="bottom:10px;"><div class="txt"><span class="tit">商城</span></div></div>
			</a>
		</div>
		<div id="Div1" class="serBox">
			<a href="./hptshop/kld.php" style="color:#666;">
				<div class="app-type"></div>
				<div class="mypng" style="top:15px;">
					<img class="pic1" src="../public/img/app/coupon.png">
					<img class="pic2" src="../public/img/app/coupon-1.png"> </div>
				<div class="txt-intro" style="bottom:10px;"><div class="txt"><span class="tit">开乐迪优惠券</span></div></div>
			</a>
		</div>
		<div id="Div1" class="serBox">
			<a href="../../tp/admin.php?m=SubAgent&a=index" style="color:#666;">
				<div class="app-type"></div>
				<div class="mypng" style="top:15px;">
					<img class="pic1" src="../public/img/app/membercard.png">
					<img class="pic2" src="../public/img/app/membercard-1.png"> </div>
				<div class="txt-intro" style="bottom:10px;"><div class="txt"><span class="tit">校园代理</span></div></div>
			</a>
		</div>
	</div>
</div></div></div></div>