html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body {
	-webkit-text-size-adjust: none;background:#F9F9F9;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
a{
	color:#000000;
	text-decoration: none;
}
h2 {
    font-size: 16px;
}
.left{ float:left}
.right{ float:right}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}

pre
{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#page nav
{
	display: none;
}

#header,
.header
{
	background: #ffffff;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 39px;
	height: 39px;
	padding: 0;
	/*position: fixed;*/
	width:100%;
	z-index:3;
	border-bottom: 1px solid #e6e6e6;
}
#header a,
.header a
{
	background: center center no-repeat transparent;
	background-image: url(../images/index.png);

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
#header a.right,
.header a.right
{
	left: auto;
	right: 10px;
}

#header a.menu,
.header a.menu
{
	background:url(../images/menu.png) no-repeat center center; display:block; text-indent: -9999px; background-size:24px auto;}

#header a.pre,
.header a.pre
{
	background:url(../images/pre.png) no-repeat center center; display:block; text-indent: -9999px; background-size:24px auto;}
	
#header a.home,
.header a.home
{
	background:url(../images/home.png) no-repeat center center; display:block; text-indent: -9999px; background-size:24px auto;}

#header a.friends,
.header a.friends
{
	background-image: url(../images/index1.png);}


/*Listpage*/
.Listpage{
    position: relative;background:#F9F9F9;
    z-index: 2;
}

.top46{/*height:40px;*/ padding:0; margin:0}

.todayList {
	display: block;
    text-align: center;
	margin: 0 auto;
}
.todayList li {
	color: #666666;
    font-size: 12px;
	text-decoration: none;
	display: inline-block;
    margin: 10px 3px 0 3px;
    width: 145px;
	background-color:#FFF;
	/*border: 1px solid rgba(204, 204, 204, 0.43);*/
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
/*.todayList li:nth-child(2n+1) {
    margin-right: 10px;
}*/
.todayList li div {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    height: 139px;
    overflow: hidden;
    width: 139px;
	margin: 3px;
}
.todayList li div img {
height: 145px;
width: 145px;
vertical-align: middle;
border: medium none;
}
.todayList li p.tit {
    line-height: 1.4;
    margin: 5px 5px 0;
}


.todayList li .tit {
height: auto;
height: 30px;
overflow: hidden;
}
.todayList li p.price {
    color: #f00;
    font-size: 12px;
    height: 12px;
    line-height: 1;
    margin:10px 5px 5px;
    overflow: hidden;
	text-align: left;
}
.todayList li p.price del{
    color: #666666;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin-left: 10px;
}


.todayList li h2 {
	font-size: 18px;
	color:#2f2f2f;
	font-weight:normal;
	height:24px;font-weight:normal;line-height:24px;padding:4px 0 8px;
max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;
}

.todayList li.border-top-none {
	border-top:0px solid #DDDDDD
}
.todayList li.border-bottom-none {
	border-bottom:0px solid #DDDDDD
}



/*商品内容*/
.shop_product{}
.product_box{ width:100%;}
.product_box_q{ width:50%; height:252px; text-align:center; float:left;}
.product_box_q a{ margin:10px; height:220px; text-decoration:none; background:#FFF; display:block; position:relative; box-shadow:0px 0px 5px #888888; border-radius:2px;}
.product_box_q a img{ vertical-align:middle;}
.pro_title{text-align:left; color:#333; text-decoration:none; font-weight:normal; padding:6px 10px 0px 10px; font-size:12px; height:40px; border-top:1px dashed #CCC; margin-top:10px; text-shadow:none;}
.pro_Price{text-align:left; color:#F00; text-indent:10px; text-shadow:none; font-size:14px;}

.Discount{ position:absolute; left:0; top:0;}

/*商品内容*/
.shop_nrtit{ font-size:16px; margin:10px;  padding-bottom:6px;}
 .dexian {
    width: 100%;
    height: 0px;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #FFF;
}
.shop_Item_Detail{ clear:both; padding-top:10px; margin:10px;}
.shop_Item_Detail h5{font-size:16px;color:#333; font-weight:normal; margin:0; padding:0; list-style:none; padding-bottom:8px;}
.shop_Detail{ font-size:14px; text-shadow:none; color:#666; line-height:24px; font-weight:normal;}
.shop_Detail img{ vertical-align:middle; width:100%;}

.shop_Item{ margin:10px; clear:both;}
.shop_Item h5{ font-size:14px; color:#333; font-weight:normal; margin:0; padding:0; list-style:none; padding-bottom:8px;}
.shop_Item ul{ margin:0; padding:0; list-style:none;}
.shop_Item ul li{ float:left;  margin:0; padding:0; list-style:none;}
.shop_Item ul li a.shopcolor1{height:26px; background:#FFF; color:#666; font-weight:normal; text-decoration:none; margin-right:10px; border:1px solid #cecece; font-size:12px; text-shadow:none; line-height:26px; padding-left:10px; padding-right:10px; float:left; margin-bottom:5px;}
.shop_Item ul li a.shopcolor2{height:26px; background:#179F00; color:#FFF; font-weight:normal; text-decoration:none; margin-right:10px; border:1px solid #cecece; font-size:12px; text-shadow:none; line-height:26px; padding-left:10px; padding-right:10px; float:left; margin-bottom:5px;}
.shop_Item ul li a.Click{height:26px; background:#ff9600; color:#fff; font-weight:normal; text-decoration:none; margin-right:10px; border:1px solid #cecece; font-size:12px; text-shadow:none; line-height:26px; padding-left:10px; padding-right:10px; float:left; margin-bottom:5px;}
.shop_Item ul li a.without{height:26px; background:#fdfdfd; color:#d1d1d1; font-weight:normal; text-decoration:none; margin-right:10px; border:1px solid #e5e5e5; font-size:12px; text-shadow:none; line-height:26px; padding-left:10px; padding-right:10px; float:left; margin-bottom:5px;}

.shop_Item ul li a.shopcolor:hover{color:#666;}
.shop_Item ul li a.Click:hover{ color:#FFF;}
.shop_Item ul li a.without:hover{ color:#d1d1d1;}

.shop_quantity{margin:10px; clear:both; margin-bottom:20px;}
.shop_quantity h5{ font-size:14px; color:#333; font-weight:normal; margin:0; padding:0; list-style:none; padding-bottom:8px;}
.shop_quantity .quantity{ width:80px; height:28px; border:1px solid #cbcbcb; border-radius:0px; text-align:center; background:#FFF; margin:0; padding:0; float:left;}
.shop_quantity .quantity_btn a{ text-decoration:none; color:#666; display:block; height:28px; line-height:28px; font-size:18px; width:36px; float:left; border:1px solid #cbcbcb; background:#FFF; border-right:none; text-align:center;}

.shop_btn{margin:10px; clear:both; margin-bottom:15px;}
.shop_btn ul{ margin:0; padding:0; list-style:none;}
.shop_btn ul li{ margin:0; padding:0; list-style:none; width:50%; float:left;color:#FFF;}
.shop_btn ul li a{ margin-right:10px; height:36px; display:block; color:#FFF; text-align:center; line-height:36px; text-decoration:none; text-shadow:none; color:#FFF;}
.shop_btn ul li a.jiaru{text-shadow:none; color:#FFF; border-radius:5px;
background-image: -moz-linear-gradient(top, #5DD300, #179F00); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5DD300), color-stop(1, #179F00)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5DD300', endColorstr='#179F00', GradientType='0'); /* IE*/
}
.shop_btn ul li a.goumai{text-shadow:none; color:#FFF; border-radius:5px;
background-image: -moz-linear-gradient(top, #4f4f4f, #1f1f1f); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f4f4f), color-stop(1, #1f1f1f)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#1f1f1f', GradientType='0'); /* IE*/
}
.shop_btn ul li a.jiaru:hover{ color:#FFF;}
.shop_btn ul li a.goumai:hover{ color:#FFF;}



.shop_Price{margin:10px; clear:both; }
.shop_Price strong{ color:#F00; text-shadow:none;font-size: 14px;}
.shop_Price strike{ color:#cccccc; text-shadow:none; font-size:12px; margin-left:10px;}

.shop_Shipping{margin:10px; clear:both; margin-bottom:20px; font-size:14px; font-weight:normal; color:#666;}
.bottom{width:100%;margin-top:10px; line-height:30px; color:#bababa; text-align:center; float:left;height:30px; font-size:14px;border-top:1px dashed #CCC;}

/*购物车*/
.shop_Cart{ margin:10px;}
.ShoppingCart{ height:120px; border:1px solid #e5e5e5; margin-bottom:10px; background:#FFF;}
.ShoppingCart_top{ height:36px; background:#f2f2f2; line-height:36px;color: #FF0000;}
.ShoppingCart_bot{ height:84px; line-height:36px;}
.ShoppingCart_bot dl{ margin:0; padding:0; list-style:none; margin:10px 8px 0 10px;}
.ShoppingCart_bot dl dt{ margin:0; padding:0; list-style:none;  width:70px; height:60px;float:left;}
.ShoppingCart_bot dl dt img{ width:60px; height:60px; border:1px solid #e9e9e9; }
.ShoppingCart_bot dl dd{ margin:0; padding:0; list-style:none; font-size:12px; line-height:20px; color:#666;}
.ShoppingCart_bot dl dd strong{ font-weight:500;}

/*购物车下订单提出样式2013-10-11*/
.gwsl{float:left; margin-right:15px; font-size:14px; margin-left:10px; color:#333; line-height:36px;}
.scgw{float:right; margin-right:15px; font-size:14px; color:#333; line-height:36px;}
.scgw a{color:#333; text-decoration:none;}
.gwxiaoji{float:right; margin-right:15px; font-size:12px; color:#f00; line-height:36px;}

.Payment_top_xx{float:left; font-size:14px; color:#f00; text-indent:10px; line-height:36px;}
.Payment_top_price{float:left; margin-right:15px; font-size:14px; margin-left:10px; color:#333; line-height:26px;}

.shop_btn ul li a.delivery{text-align:center; background:#ce4600; display:block; font-size:14px; text-decoration:none; color:#FFF;border-radius:5px;margin:0; margin-left:5px;}
.per_center{
height: 45px;
line-height: 45px;
width: 100%;
float:left;
background-image: -moz-linear-gradient(center top , #F2F2F2, #dcdcdc);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2F2F2), color-stop(1, #dcdcdc)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#dcdcdc', GradientType='0'); /* IE*/
display:inline-block;
}
.per_center ul{list-style:none;margin:0;padding:0;}
.per_center ul li{list-style:none;margin:0;padding:none;width:50%;text-align:center;float:left;}
.per_center .selected{
background-image: -moz-linear-gradient(center top , #F2F2F2, #f4f4f4);
}
.Payment{ margin:10px auto;display:inline-block;width:100%;}
.jiageizo{ font-size:12px; line-height:26px; padding:10px;}
.jiageizo strong{color:#f60; font-size:14px;}

.Payment ul{list-style:none; margin:0; padding:0;}
.Payment ul li{list-style:none; margin:0; padding:0; margin-bottom:10px;}
.Payment a .fukuan{ width:100%; text-align:center; height:30px; text-align:center; display:block; color:#FFF;text-shadow:none; color:#FFF; border-radius:5px;
background-image: -moz-linear-gradient(top, #ff691c, #e14c00); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff691c), color-stop(1, #e14c00)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff691c', endColorstr='#e14c00', GradientType='0'); /* IE*/}

.project_text{ margin:0; padding:0; box-shadow:none; height:34px; line-height:34px; text-shadow:none;width:100%; border:1px solid #e5e5e5; color:#888888; font-weight:normal; border-radius:5px;color:#999; text-indent:5px; 
  font-size:14px; 
	background-color: transparent;
	display: block;
	
	margin:0;
	font-family:Arial, Helvetica, sans-serif;/*去掉特殊阴影*/
	-webkit-appearance:none;
	-moz-box-shadow:-1px -2px 1px #f7f7f7 inset;             /* For Firefox3.6+ */
-webkit-box-shadow:-1px -2px 1px #f7f7f7 inset;          /* For Chrome5+, Safari5+ */
box-shadow:-1px -2px 1px #f7f7f7 inset;  

}
.dropdown_select{ -webkit-appearance: button; -webkit-user-select:none; overflow:visible; text-overflow:ellipsis; white-space:nowrap; display:inline; position:relative; margin: 0px 1px 0px 1px; width: 100%; height:34px; outline: none; border:0;background-color: transparent;border:1px solid #e5e5e5; font-size:14px; color:#999; background:url(../images/xiala1.png) no-repeat right; background-size:17px 15px; padding-left:5px; line-height:34px;}

.project_textarea{ width:98%; margin:0; padding:0; padding-top:10px; padding-left:5px; height:100px; overflow-y:visible; border-radius:5px; color:#999;border:1px solid #e5e5e5; font-size:14px;
box-shadow:none;
	background-color: transparent;
	display: block;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;/*去掉特殊阴影*/
	-webkit-appearance:none;
-moz-box-shadow:-1px -2px 1px #f7f7f7 inset;             /* For Firefox3.6+ */
-webkit-box-shadow:-1px -2px 1px #f7f7f7 inset;          /* For Chrome5+, Safari5+ */
box-shadow:-1px -2px 1px #f7f7f7 inset;  
}
.gift{ width:100%; background:#fff;}
.gift a{ text-decoration:none;}
.gift dl{width:100%; background:#fff;border-top:1px solid #e6e6e6; list-style:none;margin:0;padding:0;/*float:left;*/clear:both;}
.gift dl dt{width:60px; height:auto !important; height:60px; min-height:60px;  line-height:60px; list-style:none; margin:0; padding:0; margin-left:10px; float:left;}
.gift dl dd{ list-style:none; margin:0; padding:0; line-height:25px; padding-top:8px; font-weight:normal; font-size:14px; padding-left:70px; color:#666666; }
.gift dl p{ margin:0; padding:0; list-style:none; font-size:12px; color:#7b7b7b; line-height:30px; font-weight:normal; text-align:left; margin-left:70px;}

.personal_menu{ width:100%;}
.personal_menulist{ width:25%; text-align:center; margin-top:20px; float:left;} 
.personal_menulist a{ text-decoration:none;color:#666666; font-weight:normal; display:block;} 
.personal_menulist a:hover{ color:#666666; font-weight:normal;} 

/*订单详细页*/
.shop_ddlist{ margin:6px; border:1px solid #d6d6d6;border-radius:5px; background:#fff;}
.shop_ddlist p{ margin:0px; padding:0px; list-style:none; font-size:14px; padding:10px; color:#666; border-bottom:1px solid #eee}
.shop_ddlist span.zonjia{float:right; color:#FF0000; font-weight:bold;}
.orders_text{ font-size:12px;}
.orders_text strong{ font-size:14px;}
.shop_btn2{/*position:fixed;border-top:1px solid #e2e2e2;background:#FFF;bottom:0px;max-width:660px;*/width:100%;margin:0px; height:50px;}
.shop_btn2 ul{ margin:0; padding:0; list-style:none; margin-top:7px; padding-left:10px;}
.shop_btn2 ul li{ margin:0; padding:0; list-style:none; width:50%; float:left;color:#FFF;}
.shop_btn2 ul li a{ margin-right:10px; height:36px; display:block; color:#FFF; text-align:center; line-height:36px; text-decoration:none; text-shadow:none; color:#FFF;}
.shop_btn2 ul li a.jiaru{text-shadow:none; color:#FFF; border-radius:5px;
background-image: -moz-linear-gradient(top, #0896df, #008ed8); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0896df), color-stop(1, #008ed8)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0896df', endColorstr='#008ed8', GradientType='0'); /* IE*/
}
.shop_btn2 ul li a.goumai{text-shadow:none; color:#FFF; border-radius:5px;
background-image: -moz-linear-gradient(top, #999999, #999999); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(1, #999999)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#999999', GradientType='0'); /* IE*/
}
.shop_btn2 ul li a.jiaru:hover{ color:#FFF;}
.shop_btn2 ul li a.goumai:hover{ color:#FFF;}

.orders_list{ background:#fff; margin:6px; background:#fff; border-bottom:none;border-radius:5px; padding-top:0px; padding-bottom:5px;}
.orders_list a{ text-decoration:none; background:none; display:block; padding-bottom:6px; height:70px; border-top:1px solid #e6e6e6; }
.orders_list dl{width:100%; background:#ffffff; list-style:none; margin:0; padding:0; padding-top:5px; clear:both; }
.orders_list dl dt{width:60px; height:auto !important; height:60px; min-height:60px;  line-height:60px; list-style:none; margin:0; padding:0; margin-left:0px; float:left;}
.orders_list dl dt img{border-radius:3px; -moz-border-radius:3px; }
.orders_list dl dd{ list-style:none; margin:0; padding:0; line-height:25px; font-weight:normal; font-size:14px; padding-left:70px; color:#666666; }
.orders_list dl p{ margin:0; padding:0; list-style:none; font-size:12px; color:#7b7b7b; line-height:20px; font-weight:normal; text-align:left; margin-left:70px; border:none;}
.orders_list dl p span{ color:#F00;}
.orders_list dl p b{ font-weight:normal; margin-right:10px; font-size:12px;color:#666;}
.orders_list dl p b small{ font-size:12px;}
.orders_list dl dd.gift_names{line-height:13px; background:none;}
.orders_list dl dd.gift_names span{ margin-left:10px; color:#ff9933;}
.orders_list dl dd.gift_less{font-size:12px; line-height:15px; color:#858585;}


/*弹框*/
.prompt{ border:none; position:fixed; width:100%; height:100%;right:0px; top:0;background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important; z-index:999; float:left;}
.prompt_box{ width:300px; margin:0 auto; background:#fff3d8; border:1px solid #CCC;border-radius:5px; margin-top:90px; height:100px;}
.prompt_box h5{ color:#C30; text-align:center; font-size:16px; margin:0; padding:0; line-height:50px;}
.prompt_box a{ background:#666; width:140px; float:left; margin-left:5px;height:35px; text-align:center; text-shadow:none; color:#fff; font-size:14px; font-weight:normal; line-height:35px; font-weight:bold; display:block; text-decoration:none;border-radius:4px 4px 4px 4px;
    border: 1px solid #191919;
    box-shadow: 0 1px;
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
	box-shadow: 0 1px 0 #7e7e7e inset, 0 1px 2px #7e7e7e;
    text-shadow:none; color:#FFF; font-weight:normal;}

.return{margin:10px 5px 5px 5px;border-radius:5px;}
.return a{ text-decoration:none; text-align:center; line-height:36px; border:1px solid #d6d6d6; background:#fff;color:#666;display:block;border-radius:5px;
background-image:-webkit-linear-gradient( #f9f9f9,#e6e6e6 );
background-image:-moz-linear-gradient( #f9f9f9,#e6e6e6 );
background-image:-ms-linear-gradient(#f9f9f9,#e6e6e6 );
background-image:-o-linear-gradient( #f9f9f9,#e6e6e6 );
background-image:linear-gradient(#f9f9f9,#e6e6e6 );
}
.product_text{ font-size:14px; line-height:24px; color:#7b7b7b; background:#fff; margin-top:10px; padding-top:5px; padding-left:10px; padding-right:10px; border:1px solid #d6d6d6;border-radius:5px; padding-bottom:10px;}
.product_content_box{ padding-top:8px;}
.product_content_box img{ width:100%;}
.product_comment{ background:#f6f6f6; margin-top:10px; text-align:center; line-height:40px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; color:#fc303f;}
.product_comment a{ color:#fc303f; text-decoration:none; display:block;}
.product_comment a img{ width:25px; height:25px; vertical-align:middle;}
.product_text h5{ color:#666; font-size:14px; font-weight:normal; margin-top:10px; border-top:1px solid #e9e9e9; text-align:center; line-height:35px;}
.product_text h5 span{ color:#fc303f; font-size:16px; font-weight:bold;}

.product_text h6{ font-size:16px; color:#47494c;}
.product_content{ margin:6px;}
/*ginfo*/
#ginfo{margin: 0 auto;
	overflow-x: hidden;}
#ginfo h1{font-size:16px; color:#000; margin-bottom:5px;}
#ginfo .text{ margin:15px 10px;font-size:14px; word-wrap: break-word; color:#666}
#ginfo .text p{ line-height:24px;
	table-layout: fixed;
    word-wrap:break-word;
    /*word-break:break-all;*/
	font-size:14px;}
.text em{ font-style:italic}

.text img {
    max-width: 100%;
}
.showpic{
	margin: 1px 0px;
}
.showpic img{
    width: 100%;
	box-shadow: 0px 1px 0px 0px #ccc;
}
#ginfo .list{
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:10px;
	padding:10px 15px;
}
#ginfo #recommend{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("../images/ttext.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
}
#ginfo #olload{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("../images/recommend.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
}
#ginfo .newsmore{
	display:block;
	margin-top: 0;
	cursor: pointer;padding: 5px 0 4px 0;
	border-top:1px solid #E0E0E0;
}
#ginfo .olditem {
	display: block;
	background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0;
	text-align: left;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}
.olditem img {
	display: block;
	width:60px;
	height:60px;
	float:left;
	margin-right:10px;border-radius: 3px;
}
p.price {
color: #D40000;
font-size: 12px;
height: 14px;
line-height: 1;
margin: 7px 0 0 0;
overflow: hidden;
}
p.del {
color: #999;
font-size: 10px;
line-height: 1;
text-decoration: line-through;
margin: 7px 0 0 0;
}
#ginfo .title {
    display: block;
	margin-left:0;
	color: #535353;
    font-size: 14px;line-height:20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
#ginfo .footer {
    /*box-shadow:0 3px 6px #e2e2e2;*/
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor: pointer;
	background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #DDDDDD;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	margin:10px;
	padding:15px;
	text-align:center;
	display: block;
}
#ginfo .more{
    border: 1px solid #E0E0E0;
	-webkit-border-radius:26px;
	-moz-border-radius:26px;
	border-radius:26px;
	cursor: pointer;
	background-color:#FFFFFF;
	margin:10px 0;
	padding:10px;
	text-align:center;
	display: block;
}
#ginfo .top{
	background: url("../images/newstop.png") no-repeat scroll left center transparent;
	background-size: 11px auto;
	display: block;
    margin: 0 auto;
    text-indent: 15px;
    width: 85px;
}
.buy2 {
	background-color:#179F00;
	padding:10px 0;
	font-size:16px;
	text-decoration:none;
	border:1px solid #0B8E00;
	background-image: linear-gradient(bottom,  #179F00 0%, #5DD300 100%);
	background-image: -o-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -moz-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -webkit-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -ms-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #179F00),
	color-stop(1, #5DD300)
	);
	-webkit-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display:block;
	text-align:center;
	text-shadow:0 1px rgba(0, 0, 0, 0.2);
}
.buy2:active {
	padding-bottom:9px;
	padding-top:11px;
	top:0px;
	background-image: linear-gradient(bottom, #5DD300 0%, #179F00 100%);
	background-image: -o-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -moz-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -webkit-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -ms-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #5DD300),
	color-stop(1, #179F00)
	);
	-webkit-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	color: #ffffff;
}
/*Page*/
#Page_wrapper .c-pnav-con {
	text-align:center;
	font-size:18px;
}
#Page_wrapper .c-pnav-con ul {
	list-style:none;
	display:inline-block;
}
#Page_wrapper .c-pnav-con ul li {
	display:inline-block;
	padding:5px 15px;
}
#Page_wrapper .c-pnav-con ul li:nth-child(2) {
width:85px;
}
#Page_wrapper .c-pnav-con ul li:nth-child(3) {
margin-left:-110px;
}
#Page_wrapper .c-pnav-con ul li:last-child {
	margin-left:0;
}
#Page_wrapper .c-pnav-con .c-p-sec {
	display:inline-block;
	margin:10px auto 20px;
}
#Page_wrapper .c-pnav-con .c-p-sec div {
	display:inline-block;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre {
	width:88px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre a {
	display:inline-block;
	width:70px;
	height:30px;
	line-height:30px;
	background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e8e8e8));
	border:1px #D5D5D5 solid;
	overflow:hidden;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-left:0 #d5d5d5 solid;
	border-right:1px #d5d5d5 solid;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p {
	display:inline-block;
	width:17px;
	height:30px;
	position:relative;
	overflow:hidden;
	vertical-align:top;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p em {
	display:inline;
	-webkit-transform:rotate(45deg);
	background:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	position:absolute;
	top:4px;
	left:6px;
	width:21px;
	height:21px;
	border:1px solid #ddd;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next {
	width:88px;
	margin-left:5px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next a {
	display:inline-block;
	width:70px;
	height:30px;
	line-height:30px;
	background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e8e8e8));
	border:1px #D5D5D5 solid;
	overflow:hidden;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-left:1px #d5d5d5 solid;
	border-right:0 #d5d5d5 solid;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p {
	display:inline-block;
	width:17px;
	height:30px;
	position:relative;
	overflow:hidden;
	vertical-align:top;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p em {
	display:inline;
	-webkit-transform:rotate(45deg);
	background:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	position:absolute;
	top:4px;
	left:-12px;
	width:21px;
	height:21px;
	border:1px solid #ddd;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur {
	position:relative;
	height:30px;
	vertical-align:baseline;
	text-align:center;
	margin-left:5px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow {
	display:inline-block;
	width:88px;
	line-height:30px;
	border:1px solid #ddd;
	background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e8e8e8));
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow span:first-child {
	margin-right:5px;
	width:50px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-down span:last-child {
	display:inline-block;
	font-size:0;
	border-top:3px solid #666;
	border-left:3px solid #666;
	width:6px;
	height:6px;
	background-color:transparent;
	-webkit-transform:rotate(225deg);
	margin-bottom:3px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-up span:last-child {
	display:inline-block;
	font-size:0;
	border-top:3px solid #666;
	border-left:3px solid #666;
	width:6px;
	height:6px;
	background-color:transparent;
	-webkit-transform:rotate(45deg);
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey {
	display:inline-block;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey a {
	color:#999;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-select {
	position:absolute;
	top:0;
	left:0;
	height:30px;
	width:90px;
	opacity:0;
}

.px {
	margin: 0.5em 0;
	position: relative;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	background-color: #FFFFFF;
	/*border-radius: 0.6em 0.6em 0.6em 0.6em;*/
	border: 1px solid rgba(0, 0, 0, 0.15);
	color: #333333;
	text-shadow: 0 1px 0 #FFFFFF;
	display: block;
	width: 100%; 
	height: 32px;
	padding:0 10px;
	font-size: 18px;
	float: left; width: 238px; margin: 0 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
}
.px:hover {
	border: 1px solid #ff6501;
}
.px:focus {
	border: 1px solid #ff6501;
	box-shadow: 0 0 5px #ff6501;
}

.pxbtn {
	background: url("../images/index2.png") no-repeat scroll 0 0 transparent;
	background-size:39px 34px;
    border: medium none;
    height: 35px;
    margin-left: -1px;
    overflow: hidden;
    width: 40px;
	text-indent:9999px;
}

input::-moz-placeholder, textarea::-moz-placeholder { color: #999;}

/*share*/
#mess_share{margin:15px 0; display: block}
#share_1{float:left;width:49%; display: block}
#share_2{float:right;width:49%; display: block}
#share_3{width:100%; display: block; }
#mess_share img{width:22px;height:22px;vertical-align: top;border: 0;}
.button2{font-size:14px;padding:8px 0;
color:#000000;
background-color:#FFFFFF;
background-image: linear-gradient(to top, #f5f5f5, #ffffff);
border: 1px solid #D3D3D3;
box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
text-shadow: 0.5px 0.5px 1px #fff;
text-align:center;
border-radius:3px;
width:100%;
cursor:pointer;
}
.button2:active{background-image: linear-gradient(to top, #ffffff, #ffffff);}
#mcover{ position: fixed;	top:0;	left:0;	width:100%;	height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000;}
#mcover img {position: fixed;right: 18px;top:5px;width: 260px;height: 180px;z-index:20001;}
.text table{
	border:#d3d3d3 1px solid;
	WIDTH: 100%;
	cellspacin:0;
	MARGIN-BOTTOM: 5px;border-collapse: collapse;
	background-color:#FFF
}
.text table th{
	background-color:#CCC
}
.text table td{
	border-bottom: #d3d3d3 1px solid; padding:5px;
}
.submit {
	background-color:#c32d32;
	padding:10px 20px;
	font-size:16px;
	text-decoration:none;
	border:1px solid #9C1402;
	background: -webkit-gradient(linear,left top,left bottom,from(#fe444a),to(#c32d32));
	box-shadow: 0 1px 0 #FF9D9D inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: #ffffff;
	display:block;
	text-align:center;
	text-shadow:0 1px rgba(0, 0, 0, 0.2);
}
.submit:active {
	padding-bottom:9px;
	padding-left:20px;
	padding-right:20px;
	padding-top:11px;
	top:0px;
	background:-webkit-gradient(linear,left top,left bottom,from(#c32d32),to(#fe444a));
	box-shadow: 0 1px 0 #FF9D9D inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}
.submit img{ width:15px; margin:-4px 10px 0 0;}
.zhufutishi{ color: #C00; margin:10px; font-size:12px !important; line-height:16px !important; text-align:center;}
.contact-info {
border: 1px solid #C6C6C6;
background-color: #fff;
text-align: left;
font-size: 16px;
line-height: 28px;
border-radius: 5px;
box-shadow: 0 1px 1px #ffffff;
display: block;
margin: 0 8px 11px 8px;
}
.contact-info li {
border: solid #C6C6C6;
border-width: 1px 0 0 0;
padding: 3px 10px 3px 10px;
font-size: 14px;
line-height:22px;
}
li.title {
background-color: #E1E1E1;
background: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E7E7E7), color-stop(1, #f9f9f9) );
box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
border-radius: 5px 5px 0 0;
border-width: 0;
}
.contact-info table {
border-collapse: collapse;
border-spacing: 0;
}
.form_address label {
display: inline-block;
width: 50px;
text-align: right;
font-size: 16px;
}
.form_address input {
width: 100%;
border-radius: 5px;
background: #fff;
border: 1px solid #aaaaaa;
box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
background-clip: padding-box;
padding: 8px;
font-size: 16px;
margin: 5px 0;
}
.selectstyle {
display: block;
line-height: 22px;
border: 1px solid #aaaaaa;
padding-left: 10px;
position: relative;
margin: 5px 0;
border-radius: 5px;
background-clip: padding-box;
padding: 8px 0;
font-size: 16px;
box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
}
.selectstyle:after {
content: "▼";
display: block;
position: absolute;
right: 10px;
top: 50%;
margin-top: -10px;
color: #ccc;
z-index: 1;
}
.selectstyle select {
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
opacity: 0;
}
.form_address textarea {
width: 100%;
border-radius: 5px;
border: 1px solid #aaaaaa;
box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
background-clip: padding-box;
padding: 8px;
font-size: 16px;
margin: 5px 0;
line-height: 18px;
}
.contact-info input:not([type="image"]), .contact-info textarea {
box-sizing: border-box;
}
.zhifu{margin: 0 8px 11px 8px;}