<table class="table table-library">
    <thead>
        <tr>
            <th class="t1">关键词</th>
            <th class="t2">视频名称</th>
            <th class="t3">图片</th>
            <th class="t3">推送量</th>
            <th class="t5">状态 </th>
            <th class="t4">操作 </th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td colspan="6">
                <div class="tag pull-left" id='div_p' style="float:left;width:500px">
				 <button class="btn btn-info btn-xs " onclick='window.location.href="/home/info/index.php?type=<{$type}>"'>
				 全部分类
				</button>
				<{if $cates}>
                <{foreach item="cate" from=$cates}>
                    <button style='margin:2px' class="btn btn-info btn-xs " onclick='window.location.href="/home/info/index.php?cate_id=<{$cate.id}>&type=<{$type}>"' id="cate<{$cate.id}>" cate_name="<{$cate.cate_name}>"><span><{$cate.cate_name}></span>
					<{if $cate.cate_num>0}>(<{$cate.cate_num}>)<{/if}>
					</button>
                <{/foreach}>
				<{/if}>
				
                </div>
                  <div class="pull-right">
					<div style="float:left;">
					
					
						<form action='/home/info/insert_cate.php' method='post' style="display:none;" id='f_m'>
							<input type='text' class="textarea" name='cate_name'>
							<input type='hidden' value="<{$type}>" name='info_type'>
							
							<button type='button' class="btn btn-large btn-success" onclick="save_cate(event)" >新增</button>
						</form>
						<form action='/home/info/insert_cate.php' method='post' style="display:none;" id='f_m_two'>
							<input type='hidden' value="" name='id'>
							<input type='text' class="textarea" name='cate_name_two'>
							<input type='hidden' value="<{$type}>" name='info_type_two'>
							<button type='button' class="btn btn-large btn-success" onclick="save_cate_two(event);return false" >保存</button>
						</form>
						
					</div>
					<{if $cate_id}>
						<div class='cate_div'>
							<a href='#'  style='font-size:12px;' onclick='edit_cate("<{$cate_id}>");return false'>编辑</a> | <a href='#'  style='font-size:12px;' onclick='del_cate("<{$cate_id}>",event);return false'>删除</a>
						</div>
					<{else}>
						<a id='a' onclick="insertCate()" style="font-size:12px;">+添加分类</a></a>
					<{/if}>
				</div>
            </td>
        </tr>
    <{if $infolist}>
	
			<{foreach item="row" from=$infolist}>
			<tr>
				<td><strong class="c-red"><{$row.keyword}></strong></td>
				<td><{$row.video_name}></td>
				<td><img src="/data/image_c/<{$row.video_pic}>" width='79' height='50'/></td>
				<td><{$row.push_num}></td>
				<td><{if $row.state==1}><div style='color:#009A07'>开放中</div><{else}>已关闭<{/if}></td>
				<td>
					<a href="/home/info/<{$type}>.php?id=<{$row.id}>&type=<{$type}>" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>
					<a href="/home/info/<{$type}>.php?id=<{$row.id}>&act=del&type=<{$type}>" title="删除"><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
			<{/foreach}>
    <{else}>
        <tr>
            <td colspan="6">
                <p class="c-gray wrap-null"> 暂无内容！点击右上角<span class="c-green">【+】号</span>新建内容吧！ </p>
            </td>
        </tr>
    <{/if}>
    </tbody>
</table>
<script type="text/javascript">
//添加分类
function insertCate(){
	$('#a').css('display','none');
	$('input[name=cate_name]').val('');
	$('#f_m').show();
}
//保存分类
function save_cate(event){
	if($('input[name=cate_name]').val()==''){
		note_info('不能为空！','warn',event);
		return false;
	}
	$.ajax({
             type: "POST",
             url: "/home/info/insert_cate.php",
             data: $('#f_m').serialize(),//{username:$("#username").val(), content:$("#content").val()},
             
			 async: false,
             success: function(res){
				if(typeof(res)=='object'){
					note_info('保存成功！','success',event);			
					$('#div_p').append("<button class='btn btn-info btn-xs'style='margin:2px' onclick='window.location.href=\"/home/info/index.php?cate_id="+res.id+"&type=<{$type}>\"'>"+res.cate_name+"</button>");
					$('#f_m').hide();
					$('#a').show();
				}
				if(res=='1'){
					note_info('此分类已存在','warn',event);
					return false;
				}
             }	

         });
};
//修改分类
function edit_cate(id){
	$('#f_m_two').show();
	$('.cate_div').hide();
	$('input[name=cate_name_two]').val($('#cate'+id).attr('cate_name'));
	$('input[name=id]').val(id);
}
//保存修改后的分类
function save_cate_two(ent){	
	$.ajax({
		 type: "POST",
		 url: "/home/info/insert_cate.php",
		 data: $('#f_m_two').serialize(),
		
		 async: false,
		 success: function(res){
			if(res=='success'){
			$('#cate'+$('input[name=id]').val()).html("<span>"+$('input[name=cate_name_two]').val()+"</span>");	
				note_info('修改成功','success',ent);
			$('#f_m_two').hide();
			$('.cate_div').show();
			}
		 }	

	 });
}
//删除分类
function del_cate(id,event){
	if(confirm('确定删除吗?')){
		$.ajax({
		 type: "POST",
		 url: "/home/info/insert_cate.php",
		 data: {
			'del_id':id
		 },	
		 async: false,
		 success: function(res){
			if(res=='success'){
				note_info('删除成功','success',event);
				$("#cate"+id).remove();
			}
		 }	

    });
	}	
}
</script>